# **1️⃣ Part 1 (30점)**
- Part 1은 기본적인 **python 문법**과 관련된 문제들입니다.
  - 주어진 조건에 따라 해당 작업을 수행하는 프로그램을 작성해 주세요.
- ```변수명```이나 ```리스트명``` 등 문제에서 이미 설정된 부분들은 수정하시면 **안됩니다**.
  - 문제 설정 부분은 미리 코드가 작성되어 있는데, 해당 부분을 수정하시면 안 된다는 의미입니다.  
  (수정 시 경우에 따라 **0점 처리**됨을 주의해 주시기 바랍니다.)
  - 주어진 코드를 활용하여 프로그램을 완성해 주시면 됩니다.

---

## **1-1. 연산자와 자료형 (10점)**

### **1-1-a. 주어진 리스트에 있는 (x, y) 쌍에 대해 조건에 맞는 결과문 리스트를 출력해 주세요. (4점)**

주어진 리스트 list1에는 문자열 (x, y) 쌍이 있습니다. 단순히 두 문자열을 이어붙여 새로운 문자열을 만들고, 그 결과를 리스트로 출력하세요.

list1 = [("abc", "def"), ("coffee", "tea"), ("ewha", "university")]

In [ ]:
#정답
list1 = [("abc", "def"), ("coffee", "tea"), ("ewha", "university")]
answer = [x + y for x, y in list1]
print(answer)

['abcdef', 'coffeetea', 'ewhauniversity']

### **1-1-b. 주어진 리스트에 있는 (x, y) 쌍에 대해 조건에 맞는 결과문 리스트를 출력해 주세요. (6점)**

주어진 리스트 list2에는 문자열 (x, y) 쌍이 들어 있습니다. 각 쌍에 대해 문자열 x와 y를 정수로 변환한 뒤 더한 값을 계산하여, 결과를 문자열로 표현한 리스트를 출력하세요.

list2 = [("123", "456"), ("789", "234"), ("111", "222")]

In [ ]:
#정답
list2 = [("123", "456"), ("789", "234"), ("111", "222")]
answer = [str(int(x) + int(y)) for x, y in list2]
print(answer)

['579', '1023', '333']

## **1-2. 덧셈 처리기 만들기 (10점)**

- 1-1번 문제에서 더 나아가, 당신은 간단한 덧셈 처리기 함수 "adder"를 만드려 합니다.

- 다음 두 변수 x와 y가 외부에서 주어집니다.

    - x와 y는 문자열 형태이지만, 내용은 양의 정수(숫자)일 수도 있고 알파벳으로만 구성된 영단어일 수도 있습니다.

- 두 변수가 모두 양의 정수(숫자)라면, 정수로 변환하여 덧셈 결과를 출력하세요.

- 두 변수 중 하나라도 영단어이면, 그대로 문자열을 이어붙인 결과를 출력하세요.

- 두 변수가 그 이외의 유형일 경우, 공백이 있을 경우 등 문제에서 제시되지 않은 기타 경우는 배제합니다.

### **1-2-a. 두 변수 x와 y를 외부에서 입력받는 코드를 입력하세요. (2점)**
hint : 간단하게 2줄 이하로 작성하시면 됩니다.

In [ ]:
#정답

x = input()
y = input()

ewha
computer

### **1-2-b. 당신의 덧셈 처리기 "adder" 함수를 완성해 주세요. (4점)**
- 자료형의 이해를 통해 원하는 결과에 맞게 조건문을 완성하였을 경우 (2점)
- 계산 결과를 올바르게 출력할 수 있도록 완성하였을 경우 (2점)

In [ ]:
# 정답
def adder(x, y) :

  if x.isdigit() and y.isdigit():
    # 두 개 다 숫자인 경우
     return(int(x) + int(y))
  else:
    # 하나라도 문자인 경우
     return(x + y)

### **1-2-c. 당신의 덧셈 처리기를 테스트해 주세요. (4점)**
- 당신의 덧셈 처리기를 테스트하는 부분입니다.                              
주어진 3가지 경우를 입력하였을 때 당신의 adder를 사용한 결과를 자유로운 형식으로 출력해 주세요.
- 각 경우마다 1-2-a 혹은 1-2-b의 부분이  필요하다면 매번 다시 코드를 넣으셔야 합니다.

1.   x = "ewha", y = "computer"로 사용자 지정을 하고 "adder"를 사용할 경우

2.  x = "200", y = "300"를 사용자 입력 없이 코드 내에서 미리 지정해 놓고 "adder"를 사용할 경우
3.   x = "1886", y = "ewha"로 사용자 지정을 하고 "adder"를 사용할 경우

In [ ]:
#1번 경우

In [ ]:
#정답
x = input()
y = input()
print(adder(x, y))

ewha
computer
ewhacomputer

In [ ]:
#2번 경우

In [ ]:
#정답
x = "200"
y = "300"
print(adder(x, y))

500

In [ ]:
#3번 경우
x = input()
y = input()
print(adder(x, y))

1886
ewha
1886ewha

## **1-3. 반복문과 리스트 (10점)**

### **1-3-a. 조건에 맞게 리스트 "alist"를 생성해 출력해 주세요. (3점)**
- 리스트 "alist"는 자연수 2부터 7까지 담겨 있는 한 리스트에 대하여 각각의 제곱값이 담긴 리스트입니다.
- 리스트 "alist"는 반복문을 사용하여 완성해 주세요. 숫자 그대로 입력하면 0점 처리됩니다.

In [ ]:
#정답1(list comprehension)
alist = [x**2 for x in [2, 3, 4, 5, 6, 7] ]
print(alist)

[4, 9, 16, 25, 36, 49]

In [ ]:
#정답2
alist = []
for x in [2, 3, 4, 5, 6, 7]:
  alist.append(x**2)
print(alist)

[4, 9, 16, 25, 36, 49]

### **1-3-b. 리스트 "alist" 중 다음 조건에 맞는 요소만 추출하여, 새로운 리스트 "blist"를 생성해 출력해 주세요. (3점)**
- alist 중 약수가 (1)1, (2)자신의 제곱근, (3)자기 자신만 있는 숫자만 찾아 리스트 "blist"에 넣어 주세요.
- 직접 숫자를 찾아 입력하면 0점 처리됩니다.

In [ ]:
#정답
blist = []
for n in alist:
    root = int(n**0.5)
    if root * root == n:  # 제곱수인지 확인< 생략 가능
        # 제곱근이 소수인지 확인
        if root > 1 and all(root % i != 0 for i in range(2, int(root**0.5) + 1)):
            blist.append(n)
print( blist)

[4, 9, 25, 49]

### **1-3-c. 리스트 "alist"의 모든 요소의 합을 구하여 출력해 주세요. (2점)**

- sum() 함수를 사용해도 됩니다.

- 직접 모든 수를 더한 값을 입력하면 0점 처리됩니다.

In [ ]:
sum = sum(alist)
print(sum)

139

### **1-3-d. blist의 최댓값과 최솟값을 각각 출력해 주세요. (2점)**

- max()와 min() 함수를 사용해도 됩니다.

- 직접 최댓값과 최솟값을 입력하면 0점 처리됩니다.

In [ ]:
max_value = max(blist)
min_value = min(blist)
print("최댓값 : ", max_value,",","최솟값 : ", min_value)

최댓값 :  49 , 최솟값 :  4

# **2️⃣ Part 2 (30점)**
- Part 2는 **리스트**와 관련된 문제들입니다.
  - 주어진 조건에 따라 리스트를 정의하고, 필요한 작업을 수행하는 유형입니다.
- ```변수명```이나 ```리스트명``` 등 문제에서 이미 설정된 부분들은 수정하시면 **안됩니다**.
  - 문제 설정 부분은 미리 코드가 작성되어 있는데, 해당 부분을 수정하시면 안 된다는 의미입니다.  
  (수정 시 경우에 따라 **0점 처리**됨을 주의해 주시기 바랍니다.)
  - 주어진 코드를 활용하여 프로그램을 완성해 주시면 됩니다.

---

## **2-1. 제시문에 따라 코드를 작성해주세요. (7점)**

### **2-1-a. 조건에 맞게 리스트 "num_list"를 생성해 출력해 주세요. (1점)**
- 리스트 "num_list"는 자연수 1부터 20까지 담겨 있는 리스트입니다.

In [ ]:
num_list = [i for i in range(1, 21)]
print(num_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

### **2-1-b. 리스트에 "num_list"에서 인덱스가 3의 배수인 요소들만 추출해 출력해 주세요. (2점)**
- 직접 요소를 입력해 출력하면 0점 처리됩니다.

In [ ]:
result_b = num_list[3::3]
print(result_b)

[4, 7, 10, 13, 16, 19]

### **2-1-c. 리스트 "num_list"의 앞에서 절반 부분을 뒤집어서 역순으로 출력해 주세요. (2점)**
- 직접 요소를 입력해 출력하면 0점 처리됩니다.

In [ ]:
result_c = num_list[:10][::-1]
print(result_c)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### **2-1-d. 리스트의 "num_list"의 뒤쪽에서 절반 부분 중 짝수만 골라 출력해 주세요. (2점)**
- 직접 요소를 입력해 출력하면 0점 처리됩니다.

In [ ]:
result_d = [x for x in num_list[10:] if x % 2 == 0]
print(result_d)

[12, 14, 16, 18, 20]

## **2-2. 제시문에 따라 코드를 작성해주세요. (7점)**
리스트 "word_list"는 다음과 같습니다.

> word_list =  ["alpha", "bravo", "charlie", "delta", "echo", "foxtrot", "golf", "hotel", "india"]

### **2-2-a. 리스트 "word_list"에서 첫 번째, 마지막, 가운데 요소를 한 리스트로 추출한 후 출력해 주세요. (3점)**

In [ ]:
word_list = ["alpha", "bravo", "charlie", "delta", "echo", "foxtrot", "golf", "hotel", "india"]
result_a = [word_list[0], word_list[len(word_list)//2], word_list[-1]]
print(result_a)

['alpha', 'echo', 'india']

### **2-2-b. 리스트 "word_list"에서 길이가 5 이상인 문자열만 찾아 해당 리스트의 인덱스를 넣은 새 리스트 "over_list"을 만들고 출력해 주세요. (4점)**

In [ ]:
over_list = [i for i, word in enumerate(word_list) if len(word) >= 5]

print(over_list)

[0, 1, 2, 3, 5, 7, 8]

## **2-3. 제시문에 따라 문제를 해결해 주세요. (8점)**

### **2-3-1. (3점)**
- 제시된 문자열 `sentence`를 공백 기준으로 쪼개서 단어 리스트(`words_list`)를 만들어주세요.
- `words_list`를 정렬한 `words_sort`리스트를 새로 생성해주세요.
- 정렬이 완료된 리스트를 출력해주세요.

In [ ]:
### 이 셀은 수정/삭제하시면 안됩니다. 실행해주세요!

sentence = "The sun was setting behind the mountains, painting the sky with shades of orange and pink. "

In [ ]:
words_list = sentence.split()
# sorted / sort 둘 다 사용가능,
# key에 람다함수없이 len으로만 표기해도 됨
## 정답 1번 - sorted 사용
words_sort = sorted(words_list,key=lambda x:len(x))

## 정답 2번 - sort 사용
words_list.sort(key=lambda x:len(x))
words_sort = words_list.copy()

## 결과 출력 ( 아래 코드는 수정/삭제하지 말아주세요. )
print(words_sort)

['of', 'The', 'sun', 'was', 'the', 'the', 'sky', 'and', 'with', 'pink.', 'behind', 'shades', 'orange', 'setting', 'painting', 'mountains,']

### **2-3-2.(5점)**
- 위 `words_list`를 복사한 `words_list2`를 생성해주세요.
- 길이가 6 이상인 단어들을 추출해 대문자로 변환한 후 알파벳에 따라 정렬해주세요.
- 정렬이 완료된 리스트를 출력해주세요.

In [ ]:
# words_list2 정의
words_list2 = words_list.copy()

## 길이가 6 이상인 단어들을 추출해 대문자로 변환한 후 알파벳에 따라 정렬해주세요.
words_list2 = [word.upper() for word in words_list2 if len(word)>= 6]
words_list2.sort() # words_list2 = sorted(words_list2)도 가능

## 정렬이 완료된 words_list2 출력 ( 아래 코드는 수정/삭제하지 말아주세요. )
print(words_list2)

['BEHIND', 'MOUNTAINS,', 'ORANGE', 'PAINTING', 'SETTING', 'SHADES']

## **2-4. 제시문에 따라 문제에 대한 답을 제시하고 해결해 주세요. (8점)**

- 다음과 같이 고객별 각 영화의 평점이 담긴 이차원 데이터가 주어졌습니다.

  \begin{array}{|c|c|c|c|}
  \hline
  \text{번호} & 고객1 & 고객2 & 고객3 \\
  \hline
  \text{아바타} & 4 & 3 & 4.5 \\
  \text{명량} & 3.5 & 5 & 4 \\
  \text{밀정} & 5 & 4 & 4.5 \\
  \hline
  \end{array}

- 이 문제의 목표는 각 영화별 고객의 평균 평점을 통해 고객 4의 예상 평점을 입력하는 것입니다.

### **2-4-1. (2점)**
- 화연이는 데이터를 저장하기 위해 다음과 같이 이차원 리스트를 정의했습니다.

```python
ratings = [["4","3","4.5"],
           ["3.5","5","4"],
           ["5","4","4.5"]]

```
- 화연이의 코드에서는 `ratings`데이터가 계산에 적합하지 않은 형태로 저장되어 있습니다.

- ### **그 이유는 무엇인지 작성해주세요.**

**💡 답안**  
(마크다운 셀을 풀고 답안을 작성해 주세요!)

(예시 답안)

주어진 데이터는 점수가 숫자가 아닌 문자열 형식으로 저장되어 있습니다.이 문제의 목적은 영화별 평균 평점을 계산하는 것이므로 실수형으로 형변환한 후에 계산을 진행해야 합니다.

### **2-4-2.(6점)**
- 각 영화별 평균 평점을 계산하세요.
- 각 영화별 평균 평점을 소수 둘째 자리까지 반올림한 값으로 고객 4의 예상 평점을 입력하세요.
- 고객 4의 예상 평점 리스트를 예시처럼 출력해주세요.

**💚 출력 예시**
```
고객 4의 예상 평점 리스트 : [3.83, 4.17, 4.5]
```

In [ ]:
ratings = [["4","3","4.5"],
           ["3.5","5","4"],
           ["5","4","4.5"]]

## 2-4-1의 문제를 해결한 새 이차원 리스트 ratings_new 생성
ratings_new = [list(map(float, rating)) for rating in ratings]

# 각 영화별 평균 평점을 계산하고 고객 4의 예상 평점을 입력
for i in range(len(ratings)):
  ratings_new[i].append(round(sum(ratings_new[i])/len(ratings_new[i]),2))
ratings_transpose = [list(row) for row in zip(*ratings_new)]

# 정답 출력
print("고객 4의 예상 평점 리스트 :", ratings_transpose[3])

고객 4의 예상 평점 리스트 : [3.83, 4.17, 4.5]

# **3️⃣ Part 3 (40점)**
- Part 3은 기본적인 **함수 및 자료구조**와 관련된 문제들입니다.
  - 주어진 조건에 따라 해당 작업을 수행하는 프로그램을 작성해 주세요.
- ```변수명```이나 ```리스트명``` 등 문제에서 이미 설정된 부분들은 수정하시면 **안됩니다**.
  - 문제 설정 부분은 미리 코드가 작성되어 있는데, 해당 부분을 수정하시면 안 된다는 의미입니다.  
  (수정 시 경우에 따라 **0점 처리**됨을 주의해 주시기 바랍니다.)
  - 주어진 코드를 활용하여 프로그램을 완성해 주시면 됩니다.

---

## **3-1. 제시문에 따라 문제를 해결해 주세요. (5점)**
- `division_point`는 수직선 위의 두점의 좌표와 비율을 입력받았을 때 내분점의 위치를 구해주는 함수입니다.
- `division_point`함수를 아래 정의에 따라 구현해 주세요.
- 모든 변수는 양수라는 전제 아래 함수를 정의해주세요.
###**입력값**
  - point1 : 수직선 위 첫번째 점의 좌표
  - point2 : 수직선 위 두번째 점의 좌표
  - m, n : point1과 point2 사이를 m : n 비율로 내분

  ### **반환값**
  - answer : 내분점의 좌표

In [ ]:
## 함수 정의
def division_point(point1, point2, m, n):
  answer = (n * point1 + m* point2) / (m+n)

  return answer

- 위 셀에서 정의된 함수를 테스트해봅시다.
- 위 함수를 이용해 A(2), B(10) 사이를 1:3 비율로 내분하는 점을 구해주세요.

In [ ]:
## 함수 호출 및 실행
# 해당 부분은 수정하시면 안됩니다.
# 실행해주세요!

point1, point2, m, n = map(int, input('네 수를 공백으로 구분하여 입력하세요: ').split())
print('##정답##')
print(division_point(point1, point2, m, n))

네 수를 공백으로 구분하여 입력하세요: 2 10 1 3
##정답##
4.0

## **3-2. 문제를 읽고, 각 문제에 대해 알맞은 답안을 작성해주세요.(16점)**

-  십진수를 입력받았을 때 이진수로 변환해주는 함수를 만들어주세요.
- 같은 함수를 반복함수/재귀함수로 만들어주시면 됩니다.
- 이 함수를 입력값과 반환값에 따라 구현해주세요.
- 파이썬 내장 함수(bin,format 등)를 활용하시면 0점입니다.

⭐ **십진수를 이진수로 변환하는 법?**

1. 십진수를 2로 나눕니다.
2. 나눴을 때 몫과 나머지(0 또는 1)가 나옵니다.
3. 몫이 0이 될 때까지 몫을 2로 나눠줍니다.
4. 나온 나머지를 거꾸로 읽으면 이진수가 됩니다.

💚 **예시 :** 10을 이진수로 바꿔봅시다.

1. 10 ÷ 2 = 5 ... 0
2. 5 ÷ 2 = 2 ... 1
3. 2 ÷ 2 = 1 ... 0
4. 1 ÷ 2 = 0 ... 1

  나머지를 거꾸로 읽으면 1010이 됩니다.

### **3-2-1. 십진수를 이진수로 변환하는 함수를 반복문을 이용해 구현해주세요. (5점)**

  #### **입력값**
  - num : 입력하는 양의 정수

#### **반환값**
  - input이 변환된 이진수, type 상관없음

In [ ]:
def binary_iterative(num):
  result = "" # 문자열에 나머지를 저장
  if num == 0:
    return "0"
  while num > 0:
    result = str(num%2) + result
    num = num//2 # 몫 update
  return result

In [ ]:
binary_iterative(0)

'0'

In [ ]:
### Testing
# 이 셀은 삭제 및 수정하시면 안됩니다. 실행해주세요!

print(binary_iterative(100))  # 출력: 1100100
print(binary_iterative(10))  # 출력: 1010
print(binary_iterative(2))     # 출력: 10

1100100
1010
10

### **3-2-2. 위의 함수(**`binary_iterative`**)를 재귀함수(**`binary_recursive`**)로 구현해주세요.(5점)**

In [ ]:
def binary_recursive(num):
  if num < 2:
      return str(num)
  return binary_recursive(num // 2) + str(num % 2)
  # 재귀함수로 num//2 -> 몫을 업데이트, + 나머지 추가

In [ ]:
### Testing
# 이 셀은 삭제 및 수정하시면 안됩니다. 실행해주세요!

print(binary_recursive(100))  # 출력: 1100100
print(binary_recursive(10))  # 출력: 1010
print(binary_recursive(2))     # 출력: 10

1100100
1010
10

### **3-2-3. 위와 같이 함수를 구현한 이유를 3~4줄 정도로 간단히 설명해주세요. (6점)**
- `binary_iterative, binary_recursive`를 크게 다르게 구현하셨다면 둘 중 하나만 적으셔도 괜찮습니다.

**💡 답안**  
(마크다운 셀을 풀고 답안을 작성해 주세요!)

---
(예시답안)

십진수를 이진수로 변환하기 위해서는 몫을 2로 나눈 값으로 업데이트하고, 나머지는 역순으로 저장되어야 합니다. 몫을 2로 계속 나누고 업데이트하기위해 binary_iterative에서는 num = num//2 라는 코드를 사용했고 binary_recursive에서는 재귀함수의 input값에 (num//2)값을 넣었습니다. 나머지는 문자열 형식을 이용해 + 연산자로 저장했습니다.


---

## **3-3. 제시문을 읽고, 예시에 제시된 대로 출력되게 코드를 작성해주세요.(10점)**


### **3-3-1.(7점)**
- 한 회사에서 매출과 지출을 관리하는 함수를 작성하고자 합니다.
  - `expenditure()` : 지출을 기록하는 함수로, 돈의 사용처(문자열)을 content로, 금액을 dollar로 입력받습니다.
  - `income()` : 수입을 기록하는 함수로, 돈의 출처(문자열)을 source로, 입금 금액을 money로 입력받습니다.
  - `profit()` : 순수익을 출력하는 함수입니다.
  - 아래 예시처럼 출력되게 함수를 정의해주세요.

💚 **예시 :**

- 입력
```python
expenditure("땡땡 인쇄소",20000)
income("네이버 스토어 수익",65000)
income("공식 홈페이지 수익",29000)
expenditure("이번 달 사무실 비품비",100)
profit()
```
- 출력
```python
땡땡인쇄소(으)로 $20000 지출, 이번 달 총 지출은 $20000입니다.
네이버 스토어 수익(으)로 $65000 입금, 이번 달 총 수입은 $65000입니다.
공식 홈페이지 수익(으)로 $29000 입금, 이번 달 총 수입은 $94000입니다.
이번 달 사무실 비품비(으)로 $100 지출, 이번 달 총 지출은 $20100입니다.
이번 달 순이익은 $73900입니다.
```

In [ ]:
loss = 0 # 이번 달 총 지출
gain = 0 # 이번 달 총 수입

def expenditure(content, dollar):
  global loss
  loss += dollar
  print(f"{content}(으)로 ${dollar} 지출, 이번 달 총 지출은 ${loss}입니다.")

def income(content, dollar):
  global gain
  gain += dollar
  print(f"{content}(으)로 ${dollar} 입금, 이번 달 총 수입은 ${gain}입니다.")

def profit():
  global loss, gain
  print(f"이번 달 순이익은 ${gain-loss}입니다.")

In [ ]:
expenditure("땡땡 인쇄소", 20000)
income("네이버 스토어 수익", 65000)
income("공식 홈페이지 수익", 29000)
expenditure("이번 달 사무실 비품비", 100)
profit()

땡땡 인쇄소(으)로 $20000 지출, 이번 달 총 지출은 $20000입니다.
네이버 스토어 수익(으)로 $65000 입금, 이번 달 총 수입은 $65000입니다.
공식 홈페이지 수익(으)로 $29000 입금, 이번 달 총 수입은 $94000입니다.
이번 달 사무실 비품비(으)로 $100 지출, 이번 달 총 지출은 $20100입니다.
이번 달 순이익은 $73900입니다.

### **3-3-2.(3점)**
- 위처럼 함수를 정의한 이유를 2-3줄 내외로 간단하게 설명해주세요.

**💡 답안**  
(마크다운 셀을 풀고 답안을 작성해 주세요!)

---
(예시답안)

loss와 gain은 expenditure, income함수로 지속적으로 업데이트되어야 하는 값입니다. 또한 profit()함수에서 접근할 수 있어야 합니다. 따라서 expenditure, income, profit 함수 내에 loss와 gain을 글로벌 변수로 선언해 값을 저장했습니다.

---

## **3-4. 제시문을 읽고, 예시에 제시된 대로 출력되게 코드를 작성해주세요.(9점)**

- 딕셔너리(`students`)에 학생들의 이름과 그 점수 리스트가 저장되어있습니다.

### **3-4-1.(4점)**

- 각 학생의 전과목 평균 점수를 구하려고 합니다.
- 아래 예시처럼 출력되게 코드를 작성해주세요.

💚 **예시 :**

- 입력
```python
students = {"민희":[50,60,70],
              "아영":[44,55,66],
              "하민":[12,44,67],
              "레아":[88,77,66]}
```
- 출력
```python
민희의 전과목 평균 점수 :  60.0
아영의 전과목 평균 점수 :  55.0
하민의 전과목 평균 점수 :  41.0
레아의 전과목 평균 점수 :  77.0
```

In [ ]:
### 이 셀은 삭제 및 수정하시면 안됩니다. 실행해주세요!

students = {"민희":[50,60,70],
            "아영":[44,55,66],
            "하민":[12,44,67],
            "레아":[88,77,66]}

In [ ]:
# 정답 1)
for key in students.keys():
  print(f'{key}의 전과목 평균 점수 : ',
        sum(students[f'{key}'])/len(students[f'{key}']))

# 정답 2)
for key,value in students.items():
  print(f'{key}의 전과목 평균 점수 : ',
        sum(value)/len(value))

민희의 전과목 평균 점수 :  60.0
아영의 전과목 평균 점수 :  55.0
하민의 전과목 평균 점수 :  41.0
레아의 전과목 평균 점수 :  77.0
민희의 전과목 평균 점수 :  60.0
아영의 전과목 평균 점수 :  55.0
하민의 전과목 평균 점수 :  41.0
레아의 전과목 평균 점수 :  77.0

### **3-4-2.(5점)**

- 각 과목의 평균 점수를 구하려고 합니다.
- 아래 예시처럼 출력되게 코드를 작성해주세요.

**📌조건**
- 점수만 저장된 리스트를 생성해 주세요.

💚 **예시 :**

- 출력
```python
1번 과목의 평균 점수:  48.5
2번 과목의 평균 점수:  59.0
3번 과목의 평균 점수:  67.25
```

In [ ]:
# 점수만 저장된 리스트 생성
score = list(students.values())
# 학생 수 student_number에 저장
student_number = len(students)
# 과목 수 subject_number에 저장
subject_number = len(score[0])

# 출력 코드 작성
for i in range(subject_number):
  total = 0
  for j in range(student_number):
    total += score[j][i]
  print(f'{i+1}번 과목의 평균 점수: ',
        total/student_number)

1번 과목의 평균 점수:  48.5
2번 과목의 평균 점수:  59.0
3번 과목의 평균 점수:  67.25

# **4️⃣ Part 4 (10점)**
- Part 4는 ML세션에서 다룰 **판다스, 넘파이**와 관련된 기본적인 문제들입니다.
- 앞 공지에서 말씀드렸듯, 이 문제의 점수가 1차 통과의 당락을 결정하진 않습니다. 교재, 구글링, ChatGPT, 지인 찬스 등을 통해 최대한 풀어 제출해 주시면 됩니다.
- 주어진 조건에 따라 해당 작업을 수행하는 코드를 작성해주세요.
---

## **4-1. 넘파이(5점)**
- 주어진 배열에서 모든 요소의 평균값을 구하는 코드를 작성하세요.

  - 배열 요소들은 9, 7, 1.4, 5.3423, 4.29입니다.
  - 이를 `numpy` 배열로 정의하여 평균을 계산하세요.

**📌 조건**  
- `numpy` 내장 함수를 활용해 주세요.
- 배열은 `arr`라는 변수에 직접 정의해 주세요.
  - `arr` 변수의 type은 `numpy.ndarray`여야 합니다.
- 배열의 평균값을 계산한 후 출력해주세요.
- 배열 내 원소들의 형식을 str형식으로 변환해 주세요.

In [ ]:
import numpy as np  # 넘파이 모듈 호출

# 배열 정의
elements = [9, 7, 1.4, 5.3423, 4.29]
arr = np.array(elements)  ###답안###

# 평균값 계산
mean_value = np.mean(arr)  ###답안###
print(mean_value)

# 배열내 원소들의 형식을 str형식으로 변환
arr = arr.astype("str") ###답안###
print(arr)

5.40646
['9.0' '7.0' '1.4' '5.3423' '4.29']

## **4-2. 판다스(5점)**
### **제시문에 따라 문제를 해결해 주세요.**
- 우선 판다스 모듈을 import하고, 데이터 분석에 활용할 데이터 프레임을 생성하겠습니다.

In [ ]:
### 실행해 주세요!

# 판다스 모듈 호출
import pandas as pd

data = {
    "모델명": ["소나타", "아반떼", "그랜저", "쏘렌토", "카니발", "스포티지", "K5", "K7", "모닝", "GV80"],
    "브랜드": ["현대", "현대", "현대", "기아", "기아", "기아", "기아", "기아", "기아", "제네시스"],
    "가격(만원)": [2500, 1800, 3800, 3500, 4000, 3000, 2700, 3500, 1200, 6000],
    "판매량": [500, 800, 400, 450, 300, 350, 420, 200, 600, 150]
}

# 데이터프레임 생성
df = pd.DataFrame(data)
df

    모델명   브랜드  가격(만원)  판매량
0   소나타    현대    2500  500
1   아반떼    현대    1800  800
2   그랜저    현대    3800  400
3   쏘렌토    기아    3500  450
4   카니발    기아    4000  300
5  스포티지    기아    3000  350
6    K5    기아    2700  420
7    K7    기아    3500  200
8    모닝    기아    1200  600
9  GV80  제네시스    6000  150

### **4-2-1. 브랜드별 데이터의 개수를 구해주세요.(2점)**
**🔍 힌트**
- 판다스에는 데이터의 특정 열(column)에 있는 값들의 개수를 세는 방법이 있어요.

In [ ]:
df['브랜드'].value_counts()

브랜드
기아      6
현대      3
제네시스    1
Name: count, dtype: int64

### **4-2-2. 각 상품의 총 매출액(가격(만원)× 판매량)을 계산하여 새로운 `총매출(만원)` 열을 추가해 주세요.(3점)**

In [ ]:
df["총매출(만원)"] = df["가격(만원)"] * df["판매량"]

# 결과 확인
df

    모델명   브랜드  가격(만원)  판매량  총매출(만원)
0   소나타    현대    2500  500  1250000
1   아반떼    현대    1800  800  1440000
2   그랜저    현대    3800  400  1520000
3   쏘렌토    기아    3500  450  1575000
4   카니발    기아    4000  300  1200000
5  스포티지    기아    3000  350  1050000
6    K5    기아    2700  420  1134000
7    K7    기아    3500  200   700000
8    모닝    기아    1200  600   720000
9  GV80  제네시스    6000  150   900000