# **1ì£¼ì°¨ ë³µìŠµê³¼ì œ**
- 1ì£¼ì°¨ ë³µìŠµê³¼ì œëŠ” **ë„˜íŒŒì´/íŒë‹¤ìŠ¤ ì—°ìŠµë¬¸ì œ**ì…ë‹ˆë‹¤.
- ì½”ë“œ ì‘ì„±í•˜ì‹œê³ , ì¶œë ¥ ê²°ê³¼ê¹Œì§€ ë‚˜ì˜¤ë„ë¡ ì‹¤í–‰ ë¶€íƒë“œë¦½ë‹ˆë‹¤.
  - ì œì¶œ ì‹œ íŒŒì¼ëª… ë³¸ì¸ ì´ë¦„ìœ¼ë¡œ ë³€ê²½í•´ ì£¼ì„¸ìš”. ex) Week1_ë³µìŠµê³¼ì œ_OOO
- êµì¬ì—ì„œ ë‹¤ë£¨ì§€ ì•Šì€ ë©”ì†Œë“œë„ ë‹¤ìˆ˜ í¬í•¨ë˜ì–´ ìˆì§€ë§Œ êµ¬ê¸€ë§ì´ë‚˜ ì±—ì§€í”¼í‹° ë“±ì„ í™œìš©í•´ì„œë¼ë„ í’€ì–´ì£¼ì„¸ìš”! í•œ ë²ˆì”© ì‚¬ìš©í•´ ë³´ë©´ ì¢‹ì„ ê²ƒ ê°™ì•„ ì–´ë ¤ì›Œë„ ë¬¸ì œì— í¬í•¨í–ˆìŠµë‹ˆë‹¤ ğŸ¤—

## **ë„˜íŒŒì´**

### 1. Import the numpy package under the name `np`.

In [1]:
import numpy as np

### 2. Print the numpy version and the configuration.

(hint: `np.__version__`, `np.show_config`)

In [3]:
print("numpy version: ",np.__version__)
np.show_config

numpy version:  2.0.2

### 3. Create a null vector of size 10.

#### âœ… ì¶œë ¥ ì˜ˆì‹œ


```
[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
```

In [4]:
null_vector=np.zeros(10)
print(null_vector)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

### 4. Create a null vector of size 10 but the fifth value which is 1.

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
[0. 0. 0. 0. 1. 0. 0. 0. 0. 0.]
```

In [5]:
null_vector2=np.zeros(10)
null_vector2[4]=1
print(null_vector2)

[0. 0. 0. 0. 1. 0. 0. 0. 0. 0.]

### 5. Create a vector with values ranging from 10 to 49.

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
[10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49]
```

In [6]:
vector=np.arange(10,50)
print(vector)

[10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49]

### 6. Reverse a vector (first element becomes last).

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
[9 8 7 6 5 4 3 2 1 0]
```

In [7]:
og_vector=np.arange(10)
rv_vector=og_vector[::-1]
print(rv_vector)

[9 8 7 6 5 4 3 2 1 0]

### 7. Create a 3x3 matrix with values ranging from 0 to 8.

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
[[0 1 2]
 [3 4 5]
 [6 7 8]]
```

In [8]:
matrix=np.arange(9).reshape(3,3)
print(matrix)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

### 8. Find indices of non-zero elements from [1,2,0,0,4,0].

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
(array([0, 1, 4]),)
```

In [10]:
array=np.array([1,2,0,0,4,0])
print(np.nonzero(array))

(array([0, 1, 4]),)

### 9. Create a 3x3 identity matrix.

(hint: `np.eye`)

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]
```

In [11]:
identity_matrix=np.eye(3)
print(identity_matrix)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

### 10. Create a 3x3x3 array with random values.

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
[[[0.30742852 0.26458726 0.85474383]
  [0.80234531 0.76268902 0.91286677]
  [0.8804109  0.51011378 0.82103555]]

 [[0.403753   0.83120234 0.15202655]
  [0.75782685 0.0732058  0.48148689]
  [0.2089428  0.44968622 0.88134184]]

 [[0.52251191 0.10738374 0.86279648]
  [0.26203911 0.42157754 0.68856833]
  [0.58133626 0.31059127 0.71354172]]]
```

In [12]:
array2=np.random.random((3,3,3))
print(array2)

[[[0.32438815 0.37654953 0.65553105]
  [0.66292941 0.93353854 0.31038377]
  [0.42286776 0.08792242 0.64797174]]

 [[0.72943384 0.34159843 0.20996333]
  [0.20716981 0.15778791 0.97932016]
  [0.33531433 0.10397441 0.27404701]]

 [[0.93080699 0.26302722 0.72358212]
  [0.50941564 0.33070734 0.44552487]
  [0.8702973  0.85571322 0.84454741]]]

### 11. Create a 10x10 array with random values and find the minimum and maximum values.

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
0.018360924693465508 0.9990506368595156
```

In [13]:
array3=np.random.random((10,10))
min=array3.min()
max=array3.max()
print(min,max)

0.0023575442459264906 0.9938213806502613

### 12. Create a random vector of size 30 and find the mean value.

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
0.46249036320403636
```

In [14]:
vector2=np.random.random(30)
mean=vector2.mean()
print(mean)

0.4519344936550951

### 13. Create a 2d array with 1 on the border and 0 inside. (size: 10x10)

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
[[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]]
```

In [17]:
array4=np.ones((10,10),dtype=float)
array4[1:-1,1:-1]=0.0
print(array4)

[[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]]

### 14. How to add a border (filled with 0's) around an existing array?

(hint: ì¸ë±ì‹± ì‚¬ìš©)

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
# before
[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]

 # after
 [[0. 0. 0. 0. 0.]
  [0. 1. 1. 1. 0.]
  [0. 1. 1. 1. 0.]
  [0. 1. 1. 1. 0.]
  [0. 0. 0. 0. 0.]]

```

In [20]:
array5=np.ones((5,5),dtype=float)
print('# before')
print(array5)

array5[0,:]=0
array5[-1,:]=0
array5[:,0]=0
array5[:,-1]=0

print('\n# after')
print(array5)

# before
[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]

# after
[[0. 0. 0. 0. 0.]
 [0. 1. 1. 1. 0.]
 [0. 1. 1. 1. 0.]
 [0. 1. 1. 1. 0.]
 [0. 0. 0. 0. 0.]]

### 15. What is the result of the following expression?

(ì‹¤í–‰ í›„, ê²°ê³¼ì— ëŒ€í•œ ì£¼ì„ ì‘ì„±í•´ì£¼ì„¸ìš”. ex. ì¶œë ¥ ê²°ê³¼ì— ëŒ€í•œ ì´ìœ )

```python
0 * np.nan
np.nan == np.nan
np.inf > np.nan
np.nan - np.nan
np.nan in set([np.nan])
0.3 == 3 * 0.1
```

In [22]:
0 * np.nan  # nanê³¼ ì‚°ìˆ ì—°ì‚° ì‹œ ê²°ê³¼ ì—­ì‹œ nan

nan

In [23]:
np.nan == np.nan  # nanì€ ìê¸° ìì‹ ê³¼ë„ ê°™ì§€ ì•ŠìŒ

False

In [25]:
np.inf > np.nan  # nanê³¼ì˜ ë¹„êµ ì—°ì‚°ì€ í•­ìƒ false

False

In [26]:
np.nan - np.nan  # nanë¼ë¦¬ ì‚°ìˆ ì—°ì‚° ì‹œ ê²°ê³¼ ì—­ì‹œ nan

nan

In [27]:
np.nan in set([np.nan])
# íŒŒì´ì¬ì˜ setì€ ë‚´ë¶€ì ìœ¼ë¡œ ì›ì†Œë¥¼ í•´ì‹œ ê¸°ë°˜ìœ¼ë¡œ ê´€ë¦¬
# ì›ì†Œë¥¼ ì§‘í•©ì— ë„£ì„ ë•Œ __hash__ì™€ is ê¸°ë°˜ìœ¼ë¡œ ì €ì¥
# np.nan ì§‘í•©ì— ë„£ê³  ë‹¤ì‹œ np.nan ì¡°íšŒí•˜ë©´ is ë¹„êµì—ì„œ ë™ì¼í•˜ë¯€ë¡œ true

True

In [28]:
0.3 == 3 * 0.1  # ë¶€ë™ì†Œìˆ˜ì  ì˜¤ì°¨ë¡œ ì¸í•´ ì •í™•íˆ 0.3 ì•„ë‹ˆì–´ì„œ false

False

### 16. Normalize a 5x5 random matrix.

(hint: (x - mean) / std)

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
[[-1.4765971   0.9582795  -1.29910242  1.0250981  -0.79801651]
 [ 0.57945383 -1.28559078  0.02733238  0.99675052  1.2702088 ]
 [-0.08513084 -1.4686812  -0.78813593 -0.34559303 -1.15052328]
 [ 0.98183813 -1.41255344  0.37190169  1.05697419 -0.02668639]
 [-1.14466851  0.98911205  1.14499256  0.69454882  1.18478886]]
```

In [29]:
x=np.random.random((5,5))
nor_x=(x-x.mean())/x.std()
print(nor_x)

[[-0.79483426 -0.58260469 -0.35608557  0.06256053  0.18462574]
 [ 1.35639661 -0.70795849  1.45669658  0.92785243 -0.82662355]
 [-1.31556317  1.28606077  0.53690337  1.29574305  0.9918955 ]
 [ 0.72602976  0.47038312  0.41984952 -1.14088803 -1.36602345]
 [-1.52659024 -1.76472941 -0.03469122  1.28265483 -0.58105971]]

### 17. Multiply a 5x3 matrix by a 3x2 matrix. (real matrix product)

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
[[3. 3.]
 [3. 3.]
 [3. 3.]
 [3. 3.]
 [3. 3.]]
```

In [31]:
matrix1=np.ones((5,3))
matrix2=np.ones((3,2))
matrix3=np.dot(matrix1,matrix2)
print(matrix3)

[[3. 3.]
 [3. 3.]
 [3. 3.]
 [3. 3.]
 [3. 3.]]

### 18. What are the result of the following expressions?

(ì‹¤í–‰ í›„, ê²°ê³¼ì— ëŒ€í•œ ì£¼ì„ ì‘ì„±í•´ì£¼ì„¸ìš”. ex. ì¶œë ¥ ê²°ê³¼ì— ëŒ€í•œ ì´ìœ )

```python
np.array(0) / np.array(0)
np.array(0) // np.array(0)
np.array([np.nan]).astype(int).astype(float)
```

In [32]:
np.array(0) / np.array(0)  # 0/0ì€ ì •ì˜ë˜ì§€ ì•Šì€ ì—°ì‚°ì´ê¸°ì— nan ë°˜í™˜ (ë¶€ë™ì†Œìˆ˜ì  ê·œì¹™)

/tmp/ipython-input-873513115.py:1: RuntimeWarning: invalid value encountered in divide
  np.array(0) / np.array(0)

np.float64(nan)

In [33]:
np.array(0) // np.array(0)  # 0ê³¼ 0ì˜ // ì—°ì‚°ì€ ì •ì˜ë˜ì§€ ì•ŠìŒ

/tmp/ipython-input-2018018105.py:1: RuntimeWarning: divide by zero encountered in floor_divide
  np.array(0) // np.array(0)

np.int64(0)

In [34]:
np.array([np.nan]).astype(int).astype(float)
# np.nanì„ intë¡œ ë³€í™˜ ì‹œ ì •ì˜ë˜ì§€ ì•ŠìŒ
# int ë²”ìœ„ ë‚´ì—ì„œ ìµœì†Ÿê°’ìœ¼ë¡œ ê°•ì œ ë³€í™˜
# ë‹¤ì‹œ float ë³€í™˜ ì‹œ ë§¤ìš° í° ìŒìˆ˜ë¡œ ì¶œë ¥

/tmp/ipython-input-699728972.py:1: RuntimeWarning: invalid value encountered in cast
  np.array([np.nan]).astype(int).astype(float)

array([-9.22337204e+18])

### 19. Create a 5x5 matrix with row values ranging from 0 to 4.

#### âœ… ì¶œë ¥ ì˜ˆì‹œ

```
[[0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]]
```

In [36]:
matrix4=np.tile(np.arange(5,dtype=float),(5,1))
print(matrix4)

[[0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]]

### 20. Create a random vector of size 10 and sort it.

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
[0.11443045 0.16715169 0.32515597 0.38374227 0.48327044 0.78728921
 0.80523192 0.85915686 0.96930939 0.99586525]

```

In [37]:
vector3=np.random.random(10)
sorted_vector3=np.sort(vector3)
print(sorted_vector3)

[0.02872115 0.128664   0.14556409 0.40160108 0.42677506 0.62708054
 0.67142369 0.7743504  0.87423523 0.94550951]

## **íŒë‹¤ìŠ¤**


### 1. Import pandas under the alias `pd`.

In [38]:
import pandas as pd

### 2. Print the version of pandas that has been imported.

In [39]:
print(pd.__version__)

2.2.2

## 3~20ë²ˆ ë¬¸ì œëŠ” ì•„ë˜ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ì§„í–‰ë©ë‹ˆë‹¤.

Consider the following Python dictionary `data` and Python list `labels`:

``` python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
```

### 3. Create a DataFrame `df` from this dictionary `data` which has the index `labels`.

In [40]:
# ë¬¸ì œ í’€ì´ ì „ numpy ì„í¬íŠ¸
import numpy as np

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df=pd.DataFrame(data,index=labels)
print(df)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

### 4. Display a summary of the basic information about this DataFrame and its data.  
(hint: there is a single method that can be called on the DataFrame)

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 700.0+ bytes

### 5. Display a summary of the basic statistics about data of this DataFrame.  
(hint: there is a single method that can be called on the DataFrame)

In [42]:
df.describe()

            age     visits
count  8.000000  10.000000
mean   3.437500   1.900000
std    2.007797   0.875595
min    0.500000   1.000000
25%    2.375000   1.000000
50%    3.000000   2.000000
75%    4.625000   2.750000
max    7.000000   3.000000

### 6. Return the first 3 rows of the DataFrame `df`.

In [43]:
df.head(3)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

### 7. Select just the 'animal' and 'age' columns from the DataFrame `df`.

In [44]:
df[['animal','age']]

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

### 8. Select the data in rows `[3, 4, 8]` **and** in columns `['animal', 'age']`.

In [45]:
df.loc[['d','e','i'],['animal','age']]

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

### 9. Select only the rows where the number of visits is greater than 3.

In [46]:
df[df['visits']>3]

Empty DataFrame
Columns: [animal, age, visits, priority]
Index: []

### 10. Select the rows where the age is missing, i.e. it is `NaN`.

In [47]:
missing=df[df['age'].isna()]
print(missing)

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

### 11. Select the rows where the animal is a cat *and* the age is less than 3.

In [48]:
cat_less_than_3=df[(df['animal']=='cat')&(df['age']<3)]
print(cat_less_than_3)

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

### 12. Select the rows the age is between 2 and 4 (inclusive).

In [49]:
age_btw_2_4=df[(df['age']>=2)&(df['age']<=4)]
print(age_btw_2_4)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
f    cat  2.0       3       no
j    dog  3.0       1       no

### 13. Change the age in row 'f' to 1.5.

In [50]:
df.loc['f','age']=1.5
print(df.loc['f'])

animal      cat
age         1.5
visits        3
priority     no
Name: f, dtype: object

### 14. Calculate the sum of all visits in `df` (i.e. the total number of visits).

In [51]:
total=df['visits'].sum()
print(total)

19

### 15. Calculate the mean age for each different animal in `df`.

In [52]:
mean_age=df.groupby('animal')['age'].mean()
print(mean_age)

animal
cat      2.333333
dog      5.000000
snake    2.500000
Name: age, dtype: float64

### 16. Append a new row 'k' to `df` with your choice of values for each column. Then delete that row to return the original DataFrame.

In [56]:
df.loc['k']=['rabbit',4,2,'yes']
print(df.tail(),"\n")

df=df.drop('k')
print(df.tail())

   animal  age  visits priority
g   snake  4.5       1       no
h     cat  NaN       1      yes
i     dog  7.0       2       no
j     dog  3.0       1       no
k  rabbit  4.0       2      yes

  animal  age  visits priority
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

### 17. Count the number of each type of animal in `df`.

In [54]:
num=df['animal'].value_counts()
print(num)

animal
cat      4
dog      4
snake    2
Name: count, dtype: int64

### 18. Sort `df` first by the values in the 'age' in *decending* order, then by the value in the 'visits' column in *ascending* order (so row `i` should be first, and row `d` should be last).
#### âœ…ì¶œë ¥ ì˜ˆì‹œ

 index |animal	| age	|visits|	priority
---|---|---|---|---
i|	dog|	7.0|	2|	no
e|	dog|	5.0|	2|	no
g|	snake|	4.5|	1|	no
j|	dog|	3.0|	1|	no
b|	cat|	3.0|	3|	yes
a|	cat|	2.5|	1|	yes
f|	cat|	1.5|	3|	no
c|	snake|	0.5|	2|	no
h|	cat|	NaN|	1|	yes
d|	dog|	NaN|	3|	yes

In [55]:
sorted_df=df.sort_values(by=['age','visits'],ascending=[False,True])
print(sorted_df)

  animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
j    dog  3.0       1       no
b    cat  3.0       3      yes
a    cat  2.5       1      yes
f    cat  1.5       3       no
c  snake  0.5       2       no
h    cat  NaN       1      yes
d    dog  NaN       3      yes

### 19. The 'priority' column contains the values 'yes' and 'no'. Replace this column with a column of boolean values: 'yes' should be `True` and 'no' should be `False`.  
(hint: `map`)

In [57]:
df['priority']=df['priority'].map({'yes':True,'no':False})
print(df.head())

  animal  age  visits  priority
a    cat  2.5       1      True
b    cat  3.0       3      True
c  snake  0.5       2     False
d    dog  NaN       3      True
e    dog  5.0       2     False

### 20. In the 'animal' column, change the 'snake' entries to 'python'.

In [58]:
df['animal']=df['animal'].replace('snale','python')

In [59]:
# í™•ì¸ìš© df ì¶œë ¥ ì…€
df

  animal  age  visits  priority
a    cat  2.5       1      True
b    cat  3.0       3      True
c  snake  0.5       2     False
d    dog  NaN       3      True
e    dog  5.0       2     False
f    cat  1.5       3     False
g  snake  4.5       1     False
h    cat  NaN       1      True
i    dog  7.0       2     False
j    dog  3.0       1     False

### 21. Given a DataFrame of random numeric values:
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # this is a 5x3 DataFrame of float values
```

how do you subtract the row mean from each element in the row?

In [60]:
# ëœë¤ ì‹œë“œ ê³ ì •
np.random.seed(2025)

df = pd.DataFrame(np.random.random(size=(5, 3)))

In [61]:
df2=df.sub(df.mean(axis=1),axis=0)
print(df2)

          0         1         2
0 -0.516494  0.235870  0.280624
1  0.081768  0.024435 -0.106204
2 -0.047373 -0.212124  0.259497
3  0.115235 -0.230544  0.115309
4 -0.229731  0.498009 -0.268278