# **1ì£¼ì°¨ ë³µìŠµê³¼ì œ**
- 1ì£¼ì°¨ ë³µìŠµê³¼ì œëŠ” **ë„˜íŒŒì´/íŒë‹¤ìŠ¤ ì—°ìŠµë¬¸ì œ**ì…ë‹ˆë‹¤.
- ì½”ë“œ ì‘ì„±í•˜ì‹œê³ , ì¶œë ¥ ê²°ê³¼ê¹Œì§€ ë‚˜ì˜¤ë„ë¡ ì‹¤í–‰ ë¶€íƒë“œë¦½ë‹ˆë‹¤.
  - ì œì¶œ ì‹œ íŒŒì¼ëª… ë³¸ì¸ ì´ë¦„ìœ¼ë¡œ ë³€ê²½í•´ ì£¼ì„¸ìš”. ex) Week1_ë³µìŠµê³¼ì œ_OOO
- êµì¬ì—ì„œ ë‹¤ë£¨ì§€ ì•Šì€ ë©”ì†Œë“œë„ ë‹¤ìˆ˜ í¬í•¨ë˜ì–´ ìˆì§€ë§Œ êµ¬ê¸€ë§ì´ë‚˜ ì±—ì§€í”¼í‹° ë“±ì„ í™œìš©í•´ì„œë¼ë„ í’€ì–´ì£¼ì„¸ìš”! í•œ ë²ˆì”© ì‚¬ìš©í•´ ë³´ë©´ ì¢‹ì„ ê²ƒ ê°™ì•„ ì–´ë ¤ì›Œë„ ë¬¸ì œì— í¬í•¨í–ˆìŠµë‹ˆë‹¤ ğŸ¤—

## **ë„˜íŒŒì´**

### 1. Import the numpy package under the name `np`.

In [1]:
import numpy as np

### 2. Print the numpy version and the configuration.

(hint: `np.__version__`, `np.show_config`)

In [4]:
print(np.__version__)
np.show_config

2.3.2

### 3. Create a null vector of size 10.

#### âœ… ì¶œë ¥ ì˜ˆì‹œ


```
[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
```

In [5]:
# zeros ë©”ì„œë“œ í™œìš©
zero = np.zeros(10)
print(zero)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

### 4. Create a null vector of size 10 but the fifth value which is 1.

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
[0. 0. 0. 0. 1. 0. 0. 0. 0. 0.]
```

In [6]:
# zeros + ë‹¨ì¼ ì¸ë±ìŠ¤ë¡œ 1 ëŒ€ì…
zero = np.zeros(10)
zero[4] = 1
print(zero)

[0. 0. 0. 0. 1. 0. 0. 0. 0. 0.]

### 5. Create a vector with values ranging from 10 to 49.

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
[10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49]
```

In [10]:
array = np.arange(start=10, stop=50)
print(array)

[10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49]

### 6. Reverse a vector (first element becomes last).

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
[9 8 7 6 5 4 3 2 1 0]
```

In [13]:
# 0ë¶€í„° 9ê¹Œì§€ì˜ ndarray ìƒì„±í•œ ë’¤ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬
array = np.arange(start=0, stop=10)
np.sort(array)[::-1]

array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])

In [14]:
# np.flip()ì´ë¼ëŠ” í•¨ìˆ˜ë¥¼ ì ìš©í•´ë„ ëœë‹¤.
np.flip(array)

array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])

### 7. Create a 3x3 matrix with values ranging from 0 to 8.

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
[[0 1 2]
 [3 4 5]
 [6 7 8]]
```

In [21]:
array = np.arange(start=0, stop=9)
array2= array.reshape(3,3)
print(array2)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

### 8. Find indices of non-zero elements from [1,2,0,0,4,0].

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
(array([0, 1, 4]),)
```

In [24]:
# np.nonzero() : ìš”ì†Œë“¤ ì¤‘ 0ì´ ì•„ë‹Œ ê°’ë“¤ì˜ indexë“¤ì„ ë°˜í™˜í•´ ì£¼ëŠ” í•¨ìˆ˜
non_zero = np.nonzero([1,2,0,0,4,0])
print(non_zero)

(array([0, 1, 4]),)

ê¸°ë³¸ì ìœ¼ë¡œ np.nonzero()ëŠ” íŠœí”Œì„ ë°˜í™˜í•œë‹¤. 
íŠœí”Œì˜ ê¸¸ì´ = ë°°ì—´ì˜ ì°¨ì› ìˆ˜ > ì´ ë¬¸ì œì—ì„œëŠ” íŠœí”Œì˜ ê¸¸ì´ê°€ 1ì´ê¸° ë•Œë¬¸ì— array([0,1,4]), ) ê°™ì€ í˜•íƒœë¡œ ì¶œë ¥ë˜ëŠ” ê²ƒì´ë‹¤. <br>
2ì°¨ì›ìœ¼ë¡œ ê°€ë©´ (row ì¸ë±ìŠ¤, col ì¸ë±ìŠ¤) 3ì°¨ì›ìœ¼ë¡œëŠ” (x ì¸ë±ìŠ¤, y ì¸ë±ìŠ¤, z ì¸ë±ìŠ¤)... ì´ëŸ° í˜•íƒœê°€ ëœë‹¤.

In [26]:
# np.where(ì¡°ê±´) : ì¡°ê±´ì— ë§ëŠ” ê°’ì˜ ì¸ë±ìŠ¤ë¥¼ ë°˜í™˜í•˜ëŠ” í•¨ìˆ˜
# ë°°ì—´ì„ ë§Œë“¤ê³ , ë©”ì„œë“œ ì ìš©
array = np.array([1,2,0,0,4,0])
non_zero = np.where(array != 0)
print(non_zero)

(array([0, 1, 4]),)

### 9. Create a 3x3 identity matrix.

(hint: `np.eye`)

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]
```

### 10. Create a 3x3x3 array with random values.

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
[[[0.30742852 0.26458726 0.85474383]
  [0.80234531 0.76268902 0.91286677]
  [0.8804109  0.51011378 0.82103555]]

 [[0.403753   0.83120234 0.15202655]
  [0.75782685 0.0732058  0.48148689]
  [0.2089428  0.44968622 0.88134184]]

 [[0.52251191 0.10738374 0.86279648]
  [0.26203911 0.42157754 0.68856833]
  [0.58133626 0.31059127 0.71354172]]]
```

### 11. Create a 10x10 array with random values and find the minimum and maximum values.

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
0.018360924693465508 0.9990506368595156
```

### 12. Create a random vector of size 30 and find the mean value.

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
0.46249036320403636
```

### 13. Create a 2d array with 1 on the border and 0 inside. (size: 10x10)

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
[[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]]
```

### 14. How to add a border (filled with 0's) around an existing array?

(hint: ì¸ë±ì‹± ì‚¬ìš©)

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
# before
[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]

 # after
 [[0. 0. 0. 0. 0.]
  [0. 1. 1. 1. 0.]
  [0. 1. 1. 1. 0.]
  [0. 1. 1. 1. 0.]
  [0. 0. 0. 0. 0.]]

```

### 15. What is the result of the following expression?

(ì‹¤í–‰ í›„, ê²°ê³¼ì— ëŒ€í•œ ì£¼ì„ ì‘ì„±í•´ì£¼ì„¸ìš”. ex. ì¶œë ¥ ê²°ê³¼ì— ëŒ€í•œ ì´ìœ )

```python
0 * np.nan
np.nan == np.nan
np.inf > np.nan
np.nan - np.nan
np.nan in set([np.nan])
0.3 == 3 * 0.1
```

### 16. Normalize a 5x5 random matrix.

(hint: (x - mean) / std)

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
[[-1.4765971   0.9582795  -1.29910242  1.0250981  -0.79801651]
 [ 0.57945383 -1.28559078  0.02733238  0.99675052  1.2702088 ]
 [-0.08513084 -1.4686812  -0.78813593 -0.34559303 -1.15052328]
 [ 0.98183813 -1.41255344  0.37190169  1.05697419 -0.02668639]
 [-1.14466851  0.98911205  1.14499256  0.69454882  1.18478886]]
```

### 17. Multiply a 5x3 matrix by a 3x2 matrix. (real matrix product)

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
[[3. 3.]
 [3. 3.]
 [3. 3.]
 [3. 3.]
 [3. 3.]]
```

### 18. What are the result of the following expressions?

(ì‹¤í–‰ í›„, ê²°ê³¼ì— ëŒ€í•œ ì£¼ì„ ì‘ì„±í•´ì£¼ì„¸ìš”. ex. ì¶œë ¥ ê²°ê³¼ì— ëŒ€í•œ ì´ìœ )

```python
np.array(0) / np.array(0)
np.array(0) // np.array(0)
np.array([np.nan]).astype(int).astype(float)
```

### 19. Create a 5x5 matrix with row values ranging from 0 to 4.

#### âœ… ì¶œë ¥ ì˜ˆì‹œ

```
[[0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]]
```

### 20. Create a random vector of size 10 and sort it.

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
[0.11443045 0.16715169 0.32515597 0.38374227 0.48327044 0.78728921
 0.80523192 0.85915686 0.96930939 0.99586525]

```

## **íŒë‹¤ìŠ¤**


### 1. Import pandas under the alias `pd`.

### 2. Print the version of pandas that has been imported.

## 3~20ë²ˆ ë¬¸ì œëŠ” ì•„ë˜ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ì§„í–‰ë©ë‹ˆë‹¤.

Consider the following Python dictionary `data` and Python list `labels`:

``` python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
```

### 3. Create a DataFrame `df` from this dictionary `data` which has the index `labels`.

In [ ]:
# ë¬¸ì œ í’€ì´ ì „ numpy ì„í¬íŠ¸
import numpy as np

### 4. Display a summary of the basic information about this DataFrame and its data.  
(hint: there is a single method that can be called on the DataFrame)

### 5. Display a summary of the basic statistics about data of this DataFrame.  
(hint: there is a single method that can be called on the DataFrame)

### 6. Return the first 3 rows of the DataFrame `df`.

### 7. Select just the 'animal' and 'age' columns from the DataFrame `df`.

### 8. Select the data in rows `[3, 4, 8]` **and** in columns `['animal', 'age']`.

### 9. Select only the rows where the number of visits is greater than 3.

### 10. Select the rows where the age is missing, i.e. it is `NaN`.

### 11. Select the rows where the animal is a cat *and* the age is less than 3.

### 12. Select the rows the age is between 2 and 4 (inclusive).

### 13. Change the age in row 'f' to 1.5.

### 14. Calculate the sum of all visits in `df` (i.e. the total number of visits).

### 15. Calculate the mean age for each different animal in `df`.

### 16. Append a new row 'k' to `df` with your choice of values for each column. Then delete that row to return the original DataFrame.

### 17. Count the number of each type of animal in `df`.

### 18. Sort `df` first by the values in the 'age' in *decending* order, then by the value in the 'visits' column in *ascending* order (so row `i` should be first, and row `d` should be last).
#### âœ…ì¶œë ¥ ì˜ˆì‹œ

 index |animal	| age	|visits|	priority
---|---|---|---|---
i|	dog|	7.0|	2|	no
e|	dog|	5.0|	2|	no
g|	snake|	4.5|	1|	no
j|	dog|	3.0|	1|	no
b|	cat|	3.0|	3|	yes
a|	cat|	2.5|	1|	yes
f|	cat|	1.5|	3|	no
c|	snake|	0.5|	2|	no
h|	cat|	NaN|	1|	yes
d|	dog|	NaN|	3|	yes

### 19. The 'priority' column contains the values 'yes' and 'no'. Replace this column with a column of boolean values: 'yes' should be `True` and 'no' should be `False`.  
(hint: `map`)

### 20. In the 'animal' column, change the 'snake' entries to 'python'.

In [ ]:
# í™•ì¸ìš© df ì¶œë ¥ ì…€
df

### 21. Given a DataFrame of random numeric values:
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # this is a 5x3 DataFrame of float values
```

how do you subtract the row mean from each element in the row?

In [ ]:
# ëœë¤ ì‹œë“œ ê³ ì •
np.random.seed(2025)

df = pd.DataFrame(np.random.random(size=(5, 3)))