# **1Ï£ºÏ∞® Î≥µÏäµÍ≥ºÏ†ú**
- 1Ï£ºÏ∞® Î≥µÏäµÍ≥ºÏ†úÎäî **ÎÑòÌååÏù¥/ÌåêÎã§Ïä§ Ïó∞ÏäµÎ¨∏Ï†ú**ÏûÖÎãàÎã§.
- ÏΩîÎìú ÏûëÏÑ±ÌïòÏãúÍ≥†, Ï∂úÎ†• Í≤∞Í≥ºÍπåÏßÄ ÎÇòÏò§ÎèÑÎ°ù Ïã§Ìñâ Î∂ÄÌÉÅÎìúÎ¶ΩÎãàÎã§.
  - Ï†úÏ∂ú Ïãú ÌååÏùºÎ™Ö Î≥∏Ïù∏ Ïù¥Î¶ÑÏúºÎ°ú Î≥ÄÍ≤ΩÌï¥ Ï£ºÏÑ∏Ïöî. ex) Week1_Î≥µÏäµÍ≥ºÏ†ú_OOO
- ÍµêÏû¨ÏóêÏÑú Îã§Î£®ÏßÄ ÏïäÏùÄ Î©îÏÜåÎìúÎèÑ Îã§Ïàò Ìè¨Ìï®ÎêòÏñ¥ ÏûàÏßÄÎßå Íµ¨Í∏ÄÎßÅÏù¥ÎÇò Ï±óÏßÄÌîºÌã∞ Îì±ÏùÑ ÌôúÏö©Ìï¥ÏÑúÎùºÎèÑ ÌíÄÏñ¥Ï£ºÏÑ∏Ïöî! Ìïú Î≤àÏî© ÏÇ¨Ïö©Ìï¥ Î≥¥Î©¥ Ï¢ãÏùÑ Í≤É Í∞ôÏïÑ Ïñ¥Î†§ÏõåÎèÑ Î¨∏Ï†úÏóê Ìè¨Ìï®ÌñàÏäµÎãàÎã§ ü§ó

## **ÎÑòÌååÏù¥**

### 1. Import the numpy package under the name `np`.

In [2]:
import numpy as np

### 2. Print the numpy version and the configuration.

(hint: `np.__version__`, `np.show_config`)

In [2]:
print("NumPy version:", np.__version__)
np.show_config()

NumPy version: 1.26.4
Build Dependencies:
  blas:
    detection method: pkgconfig
    found: true
    include directory: C:/ProgramData/anacondaaa/Library/include
    lib directory: C:/ProgramData/anacondaaa/Library/lib
    name: mkl-sdl
    openblas configuration: unknown
    pc file directory: C:\b\abs_c1ywpu18ar\croot\numpy_and_numpy_base_1708638681471\_h_env\Library\lib\pkgconfig
    version: '2023.1'
  lapack:
    detection method: internal
    found: true
    include directory: unknown
    lib directory: unknown
    name: dep1868282989520
    openblas configuration: unknown
    pc file directory: unknown
    version: 1.26.4
Compilers:
  c:
    commands: cl.exe
    linker: link
    name: msvc
    version: 19.29.30154
  c++:
    commands: cl.exe
    linker: link
    name: msvc
    version: 19.29.30154
  cython:
    commands: cython
    linker: cython
    name: cython
    version: 3.0.8
Machine Information:
  build:
    cpu: x86_64
    endian: little
    family: x86_64
    system: windows
  host:
    cpu: x86_64
    endian: little
    family: x86_64
    system: windows
Python Information:
  path: C:\b\abs_c1ywpu18ar\croot\numpy_and_numpy_base_1708638681471\_h_env\python.exe
  version: '3.11'
SIMD Extensions:
  baseline:
  - SSE
  - SSE2
  - SSE3
  found:
  - SSSE3
  - SSE41
  - POPCNT
  - SSE42
  - AVX
  - F16C
  - FMA3
  - AVX2
  not found:
  - AVX512F
  - AVX512CD
  - AVX512_SKX
  - AVX512_CLX
  - AVX512_CNL
  - AVX512_ICL

### 3. Create a null vector of size 10.

#### ‚úÖ Ï∂úÎ†• ÏòàÏãú


```
[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
```

In [3]:
null_vector = np.zeros(10)
print(null_vector)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

### 4. Create a null vector of size 10 but the fifth value which is 1.

#### ‚úÖÏ∂úÎ†• ÏòàÏãú


```
[0. 0. 0. 0. 1. 0. 0. 0. 0. 0.]
```

In [6]:
nullvector = np.zeros(10)
nullvector[4] = 1 
print(nullvector)

[0. 0. 0. 0. 1. 0. 0. 0. 0. 0.]

### 5. Create a vector with values ranging from 10 to 49.

#### ‚úÖÏ∂úÎ†• ÏòàÏãú


```
[10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49]
```

In [5]:
vector = np.arange(10, 50)
print(vector)

[10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49]

### 6. Reverse a vector (first element becomes last).

#### ‚úÖÏ∂úÎ†• ÏòàÏãú


```
[9 8 7 6 5 4 3 2 1 0]
```

In [7]:
vector = np.arange(10)
reversed_vector = vector[::-1]
print(reversed_vector)

[9 8 7 6 5 4 3 2 1 0]

### 7. Create a 3x3 matrix with values ranging from 0 to 8.

#### ‚úÖÏ∂úÎ†• ÏòàÏãú


```
[[0 1 2]
 [3 4 5]
 [6 7 8]]
```

In [8]:
matrix = np.arange(9).reshape(3, 3)
print(matrix)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

### 8. Find indices of non-zero elements from [1,2,0,0,4,0].

#### ‚úÖÏ∂úÎ†• ÏòàÏãú


```
(array([0, 1, 4]),)
```

In [10]:
arr = np.array([1, 2, 0, 0, 4, 0])
indices = np.nonzero(arr)
clean_indices = (np.array(indices[0], dtype=int),)
print(clean_indices)

(array([0, 1, 4]),)

### 9. Create a 3x3 identity matrix.

(hint: `np.eye`)

#### ‚úÖÏ∂úÎ†• ÏòàÏãú


```
[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]
```

In [11]:
matrix = np.eye(3)
print(matrix)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

### 10. Create a 3x3x3 array with random values.

#### ‚úÖÏ∂úÎ†• ÏòàÏãú


```
[[[0.30742852 0.26458726 0.85474383]
  [0.80234531 0.76268902 0.91286677]
  [0.8804109  0.51011378 0.82103555]]

 [[0.403753   0.83120234 0.15202655]
  [0.75782685 0.0732058  0.48148689]
  [0.2089428  0.44968622 0.88134184]]

 [[0.52251191 0.10738374 0.86279648]
  [0.26203911 0.42157754 0.68856833]
  [0.58133626 0.31059127 0.71354172]]]
```

In [12]:
random_array = np.random.rand(3, 3, 3)
print(random_array)

[[[0.37359044 0.25956914 0.04785055]
  [0.84785667 0.8050714  0.68327035]
  [0.41731172 0.78388399 0.33661902]]

 [[0.89571088 0.3762478  0.52638755]
  [0.23346785 0.79639525 0.44325181]
  [0.58042821 0.55646603 0.09606772]]

 [[0.12899491 0.31030034 0.42405757]
  [0.42257518 0.23002462 0.18341035]
  [0.6203299  0.90701783 0.59786796]]]

### 11. Create a 10x10 array with random values and find the minimum and maximum values.

#### ‚úÖÏ∂úÎ†• ÏòàÏãú


```
0.018360924693465508 0.9990506368595156
```

In [13]:
arr = np.random.rand(10, 10)

Min = arr.min()
Max = arr.max()

print(Min)
print(Max)

0.003619065252983722
0.9979227262906172

### 12. Create a random vector of size 30 and find the mean value.

#### ‚úÖÏ∂úÎ†• ÏòàÏãú


```
0.46249036320403636
```

In [14]:
vector = np.random.rand(30)
Mean = vector.mean()

print(Mean)

0.5029621630329916

### 13. Create a 2d array with 1 on the border and 0 inside. (size: 10x10)

#### ‚úÖÏ∂úÎ†• ÏòàÏãú


```
[[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]]
```

In [15]:
arr = np.ones((10, 10))
arr[1:-1, 1:-1] = 0

print(arr)

[[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]]

### 14. How to add a border (filled with 0's) around an existing array?

(hint: Ïù∏Îç±Ïã± ÏÇ¨Ïö©)

#### ‚úÖÏ∂úÎ†• ÏòàÏãú


```
# before
[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]

 # after
 [[0. 0. 0. 0. 0.]
  [0. 1. 1. 1. 0.]
  [0. 1. 1. 1. 0.]
  [0. 1. 1. 1. 0.]
  [0. 0. 0. 0. 0.]]

```

In [16]:
arr = np.ones((5, 5))
print("Before:\n", arr)

Before:
 [[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]

In [17]:
arr2 = np.zeros((5, 5))
arr2[1:-1, 1:-1] = arr[1:-1, 1:-1]

print("\nAfter:\n", arr2)

After:
 [[0. 0. 0. 0. 0.]
 [0. 1. 1. 1. 0.]
 [0. 1. 1. 1. 0.]
 [0. 1. 1. 1. 0.]
 [0. 0. 0. 0. 0.]]

### 15. What is the result of the following expression?

(Ïã§Ìñâ ÌõÑ, Í≤∞Í≥ºÏóê ÎåÄÌïú Ï£ºÏÑù ÏûëÏÑ±Ìï¥Ï£ºÏÑ∏Ïöî. ex. Ï∂úÎ†• Í≤∞Í≥ºÏóê ÎåÄÌïú Ïù¥Ïú†)

```python
0 * np.nan
np.nan == np.nan
np.inf > np.nan
np.nan - np.nan
np.nan in set([np.nan])
0.3 == 3 * 0.1
```

In [5]:
print(0 * np.nan)                #nanÍ≥ºÏùò Î™®Îì† Ïó∞ÏÇ∞ÏùÄ nanÏùÑ Ïú†ÏßÄ
print(np.nan == np.nan)          #nanÏùÄ "Ï†ïÏùòÎêòÏßÄ ÏïäÏùÄ Í∞í"Ïù¥ÎØÄÎ°ú ÎπÑÍµê Ïó∞ÏÇ∞ÏóêÏÑú Ìï≠ÏÉÅ FalseÎ°ú Ï≤òÎ¶¨
print(np.inf > np.nan)           #nanÏù¥ Ìè¨Ìï®Îêú Î™®Îì† ÎπÑÍµê Ïó∞ÏÇ∞ÏùÄ False
print(np.nan - np.nan)           #nanÍ≥ºÏùò ÏÇ∞Ïà† Ïó∞ÏÇ∞ÎèÑ Ïó¨Ï†ÑÌûà nan
print(np.nan in set([np.nan]))   #Ìï¥ÏãúÍ∞íÏù¥ ÎèôÏùºÌïòÍ∏∞ ÎïåÎ¨∏Ïóê nanÏùÄ ÏßëÌï©Ïóê Ìè¨Ìï®ÎêòÏñ¥ ÏûàÎã§Í≥† Ïù∏Ïãù
print(0.3 == 3 * 0.1)            #0.1ÏùÑ Ïù¥ÏßÑÏàòÎ°ú ÌëúÌòÑÌï† Ïàò ÏóÜÏùå.

nan
False
False
nan
True
False

### 16. Normalize a 5x5 random matrix.

(hint: (x - mean) / std)

#### ‚úÖÏ∂úÎ†• ÏòàÏãú


```
[[-1.4765971   0.9582795  -1.29910242  1.0250981  -0.79801651]
 [ 0.57945383 -1.28559078  0.02733238  0.99675052  1.2702088 ]
 [-0.08513084 -1.4686812  -0.78813593 -0.34559303 -1.15052328]
 [ 0.98183813 -1.41255344  0.37190169  1.05697419 -0.02668639]
 [-1.14466851  0.98911205  1.14499256  0.69454882  1.18478886]]
```

In [7]:
x = np.random.rand(5, 5)

x_normalize = (x - x.mean()) / x.std()
np.set_printoptions(suppress=True, precision=8)

print(x_normalize)

[[ 1.13807537  0.36174435 -0.62768618 -1.06718068 -0.61353208]
 [-1.47255679  1.23931642 -0.97016266  0.2153475  -0.35266317]
 [-1.50311672  0.44169026 -0.08732504 -1.26653457  0.01225963]
 [-1.53454673  0.92054052 -0.00574675  1.6798357  -1.23693822]
 [ 0.8018308   1.62031172  0.47852163  1.08576168  0.742754  ]]

### 17. Multiply a 5x3 matrix by a 3x2 matrix. (real matrix product)

#### ‚úÖÏ∂úÎ†• ÏòàÏãú


```
[[3. 3.]
 [3. 3.]
 [3. 3.]
 [3. 3.]
 [3. 3.]]
```

In [10]:
A = np.ones((5, 3))
B = np.ones((3, 2))
C = A @ B

print(C)

[[3. 3.]
 [3. 3.]
 [3. 3.]
 [3. 3.]
 [3. 3.]]

### 18. What are the result of the following expressions?

(Ïã§Ìñâ ÌõÑ, Í≤∞Í≥ºÏóê ÎåÄÌïú Ï£ºÏÑù ÏûëÏÑ±Ìï¥Ï£ºÏÑ∏Ïöî. ex. Ï∂úÎ†• Í≤∞Í≥ºÏóê ÎåÄÌïú Ïù¥Ïú†)

```python
np.array(0) / np.array(0)
np.array(0) // np.array(0)
np.array([np.nan]).astype(int).astype(float)
```

In [11]:
print(np.array(0) / np.array(0))     
#0ÏùÑ 0ÏúºÎ°ú ÎÇòÎàÑÎäî Í≤ÉÏùÄ Ï†ïÏùòÎêòÏßÄ ÏïäÏùÄ Ïó∞ÏÇ∞Ïù¥Ïñ¥ÏÑú nanÏù¥ Ï∂úÎ†•Îê®. 
#ÏàòÌïôÏ†ÅÏúºÎ°ú Î∂àÍ∞ÄÎä•Ìïú Ïó∞ÏÇ∞Ïóê ÎåÄÌï¥ Í≤ΩÍ≥†Î•º ÎùÑÏö∞Í≥† Í≤∞Í≥ºÎäî nanÏúºÎ°ú Ï≤òÎ¶¨

print(np.array(0) // np.array(0))
#0 // 0 ÎèÑ Ï†ïÏùòÎêòÏßÄ ÏïäÏßÄÎßå ÎÇ¥Î∂ÄÏ†ÅÏúºÎ°ú Ï†ïÏàò Ïó∞ÏÇ∞ÏóêÏÑú 0ÏùÑ Î∞òÌôò
#Ïã§Ï†úÎ°ú ÏàòÌïôÏ†ÅÏúºÎ°úÎäî ÏûòÎ™ªÎêú Ïó∞ÏÇ∞Ïù¥ÎØÄÎ°ú Í≤ΩÍ≥†Í∞Ä Îú∏

print(np.array([np.nan]).astype(int).astype(float))
#nanÏùÑ intÎ°ú Î≥ÄÌôòÌïòÎ©¥ Ï†ïÏùòÎêòÏßÄ ÏïäÏùÄ Í∞íÏù¥ÎØÄÎ°ú ÏãúÏä§ÌÖúÏùò ÏµúÏÜüÍ∞í Ï†ïÏàòÎ°ú Í∞ïÏ†úÎ°ú ÎåÄÏ≤¥
#Îã§Ïãú floatÏúºÎ°ú Î∞îÍæ∏Î©¥ -2.14748365e+09

nan
0
[-2.14748365e+09]

C:\Users\chjbr\AppData\Local\Temp\ipykernel_25036\3912170336.py:1: RuntimeWarning: invalid value encountered in divide
  print(np.array(0) / np.array(0))
C:\Users\chjbr\AppData\Local\Temp\ipykernel_25036\3912170336.py:2: RuntimeWarning: divide by zero encountered in floor_divide
  print(np.array(0) // np.array(0))
C:\Users\chjbr\AppData\Local\Temp\ipykernel_25036\3912170336.py:3: RuntimeWarning: invalid value encountered in cast
  print(np.array([np.nan]).astype(int).astype(float))

### 19. Create a 5x5 matrix with row values ranging from 0 to 4.

#### ‚úÖ Ï∂úÎ†• ÏòàÏãú

```
[[0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]]
```

In [12]:
row = np.arange(5)
matrix = np.tile(row, (5, 1))

print(matrix)

[[0 1 2 3 4]
 [0 1 2 3 4]
 [0 1 2 3 4]
 [0 1 2 3 4]
 [0 1 2 3 4]]

### 20. Create a random vector of size 10 and sort it.

#### ‚úÖÏ∂úÎ†• ÏòàÏãú


```
[0.11443045 0.16715169 0.32515597 0.38374227 0.48327044 0.78728921
 0.80523192 0.85915686 0.96930939 0.99586525]

```

In [13]:
vec = np.random.rand(10)
vector = np.sort(vec)

print(vector)

[0.06556367 0.26525689 0.28876903 0.31073212 0.44272321 0.45666791
 0.54167917 0.58738219 0.63113156 0.9813401 ]

## **ÌåêÎã§Ïä§**


### 1. Import pandas under the alias `pd`.

In [14]:
import pandas as pd

### 2. Print the version of pandas that has been imported.

In [15]:
print(pd.__version__)

2.1.4

## 3~20Î≤à Î¨∏Ï†úÎäî ÏïÑÎûò Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏúºÎ°ú ÏßÑÌñâÎê©ÎãàÎã§.

Consider the following Python dictionary `data` and Python list `labels`:

``` python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
```

### 3. Create a DataFrame `df` from this dictionary `data` which has the index `labels`.

In [18]:
# Î¨∏Ï†ú ÌíÄÏù¥ Ï†Ñ numpy ÏûÑÌè¨Ìä∏
import numpy as np

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)

print(df)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

### 4. Display a summary of the basic information about this DataFrame and its data.  
(hint: there is a single method that can be called on the DataFrame)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes

### 5. Display a summary of the basic statistics about data of this DataFrame.  
(hint: there is a single method that can be called on the DataFrame)

In [20]:
df.describe()

            age     visits
count  8.000000  10.000000
mean   3.437500   1.900000
std    2.007797   0.875595
min    0.500000   1.000000
25%    2.375000   1.000000
50%    3.000000   2.000000
75%    4.625000   2.750000
max    7.000000   3.000000

### 6. Return the first 3 rows of the DataFrame `df`.

In [21]:
df.head(3)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

### 7. Select just the 'animal' and 'age' columns from the DataFrame `df`.

In [22]:
df[['animal', 'age']]

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

### 8. Select the data in rows `[3, 4, 8]` **and** in columns `['animal', 'age']`.

In [23]:
df.loc[['d', 'e', 'i'], ['animal', 'age']]

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

### 9. Select only the rows where the number of visits is greater than 3.

In [24]:
df[df['visits'] > 3]

Empty DataFrame
Columns: [animal, age, visits, priority]
Index: []

### 10. Select the rows where the age is missing, i.e. it is `NaN`.

In [25]:
df[df['age'].isna()]

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

### 11. Select the rows where the animal is a cat *and* the age is less than 3.

In [26]:
df[(df['animal'] == 'cat') & (df['age'] < 3)]

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

### 12. Select the rows the age is between 2 and 4 (inclusive).

In [27]:
df[(df['age'] >= 2) & (df['age'] <= 4)]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
f    cat  2.0       3       no
j    dog  3.0       1       no

### 13. Change the age in row 'f' to 1.5.

In [28]:
df.loc['f', 'age'] = 1.5

df.loc['f']

animal      cat
age         1.5
visits        3
priority     no
Name: f, dtype: object

### 14. Calculate the sum of all visits in `df` (i.e. the total number of visits).

In [29]:
total = df['visits'].sum()
print(total)

19

### 15. Calculate the mean age for each different animal in `df`.

In [30]:
Mean = df.groupby('animal')['age'].mean()
print(Mean)

animal
cat      2.333333
dog      5.000000
snake    2.500000
Name: age, dtype: float64

### 16. Append a new row 'k' to `df` with your choice of values for each column. Then delete that row to return the original DataFrame.

In [31]:
df.loc['k'] = ['rabbit', 1.0, 2, 'yes']
print(df, "\n")

df = df.drop('k')
print(df)

   animal  age  visits priority
a     cat  2.5       1      yes
b     cat  3.0       3      yes
c   snake  0.5       2       no
d     dog  NaN       3      yes
e     dog  5.0       2       no
f     cat  1.5       3       no
g   snake  4.5       1       no
h     cat  NaN       1      yes
i     dog  7.0       2       no
j     dog  3.0       1       no
k  rabbit  1.0       2      yes

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

### 17. Count the number of each type of animal in `df`.

In [32]:
cnt = df['animal'].value_counts()
print(cnt)

animal
cat      4
dog      4
snake    2
Name: count, dtype: int64

### 18. Sort `df` first by the values in the 'age' in *decending* order, then by the value in the 'visits' column in *ascending* order (so row `i` should be first, and row `d` should be last).
#### ‚úÖÏ∂úÎ†• ÏòàÏãú

 index |animal	| age	|visits|	priority
---|---|---|---|---
i|	dog|	7.0|	2|	no
e|	dog|	5.0|	2|	no
g|	snake|	4.5|	1|	no
j|	dog|	3.0|	1|	no
b|	cat|	3.0|	3|	yes
a|	cat|	2.5|	1|	yes
f|	cat|	1.5|	3|	no
c|	snake|	0.5|	2|	no
h|	cat|	NaN|	1|	yes
d|	dog|	NaN|	3|	yes

In [33]:
df_sorted = df.sort_values(by=['age', 'visits'], ascending=[False, True])

df_sorted

  animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
j    dog  3.0       1       no
b    cat  3.0       3      yes
a    cat  2.5       1      yes
f    cat  1.5       3       no
c  snake  0.5       2       no
h    cat  NaN       1      yes
d    dog  NaN       3      yes

### 19. The 'priority' column contains the values 'yes' and 'no'. Replace this column with a column of boolean values: 'yes' should be `True` and 'no' should be `False`.  
(hint: `map`)

In [34]:
df['priority'] = df['priority'].map({'yes': True, 'no': False})

### 20. In the 'animal' column, change the 'snake' entries to 'python'.

In [35]:
df['animal'] = df['animal'].replace('snake', 'python')

In [36]:
# ÌôïÏù∏Ïö© df Ï∂úÎ†• ÏÖÄ
df

   animal  age  visits  priority
a     cat  2.5       1      True
b     cat  3.0       3      True
c  python  0.5       2     False
d     dog  NaN       3      True
e     dog  5.0       2     False
f     cat  1.5       3     False
g  python  4.5       1     False
h     cat  NaN       1      True
i     dog  7.0       2     False
j     dog  3.0       1     False

### 21. Given a DataFrame of random numeric values:
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # this is a 5x3 DataFrame of float values
```

how do you subtract the row mean from each element in the row?

In [37]:
# ÎûúÎç§ ÏãúÎìú Í≥†Ï†ï
np.random.seed(2025)

df = pd.DataFrame(np.random.random(size=(5, 3)))

df2 = df.sub(df.mean(axis=1), axis=0)

print(df)
print(df2)

          0         1         2
0  0.135488  0.887852  0.932606
1  0.445568  0.388236  0.257596
2  0.657368  0.492617  0.964238
3  0.800984  0.455205  0.801058
4  0.041718  0.769458  0.003171
          0         1         2
0 -0.516494  0.235870  0.280624
1  0.081768  0.024435 -0.106204
2 -0.047373 -0.212124  0.259497
3  0.115235 -0.230544  0.115309
4 -0.229731  0.498009 -0.268278