# **1ì£¼ì°¨ ë³µìŠµê³¼ì œ**
- 1ì£¼ì°¨ ë³µìŠµê³¼ì œëŠ” **ë„˜íŒŒì´/íŒë‹¤ìŠ¤ ì—°ìŠµë¬¸ì œ**ì…ë‹ˆë‹¤.
- ì½”ë“œ ì‘ì„±í•˜ì‹œê³ , ì¶œë ¥ ê²°ê³¼ê¹Œì§€ ë‚˜ì˜¤ë„ë¡ ì‹¤í–‰ ë¶€íƒë“œë¦½ë‹ˆë‹¤.
  - ì œì¶œ ì‹œ íŒŒì¼ëª… ë³¸ì¸ ì´ë¦„ìœ¼ë¡œ ë³€ê²½í•´ ì£¼ì„¸ìš”. ex) Week1_ë³µìŠµê³¼ì œ_OOO
- êµì¬ì—ì„œ ë‹¤ë£¨ì§€ ì•Šì€ ë©”ì†Œë“œë„ ë‹¤ìˆ˜ í¬í•¨ë˜ì–´ ìˆì§€ë§Œ êµ¬ê¸€ë§ì´ë‚˜ ì±—ì§€í”¼í‹° ë“±ì„ í™œìš©í•´ì„œë¼ë„ í’€ì–´ì£¼ì„¸ìš”! í•œ ë²ˆì”© ì‚¬ìš©í•´ ë³´ë©´ ì¢‹ì„ ê²ƒ ê°™ì•„ ì–´ë ¤ì›Œë„ ë¬¸ì œì— í¬í•¨í–ˆìŠµë‹ˆë‹¤ ğŸ¤—

## **ë„˜íŒŒì´**

### 1. Import the numpy package under the name `np`.

In [1]:
import numpy as np

### 2. Print the numpy version and the configuration.

(hint: `np.__version__`, `np.show_config`)

In [2]:
print("numpy version:", np.__version__)
np.show_config()

numpy version: 2.1.3
Build Dependencies:
  blas:
    detection method: pkgconfig
    found: true
    include directory: C:/Users/parkn/anaconda3/Library/include
    lib directory: C:/Users/parkn/anaconda3/Library/lib
    name: mkl-sdl
    openblas configuration: unknown
    pc file directory: C:\b\abs_25aj347ekn\croot\numpy_and_numpy_base_1730835595898\_h_env\Library\lib\pkgconfig
    version: '2023.1'
  lapack:
    detection method: pkgconfig
    found: true
    include directory: C:/Users/parkn/anaconda3/Library/include
    lib directory: C:/Users/parkn/anaconda3/Library/lib
    name: mkl-sdl
    openblas configuration: unknown
    pc file directory: C:\b\abs_25aj347ekn\croot\numpy_and_numpy_base_1730835595898\_h_env\Library\lib\pkgconfig
    version: '2023.1'
Compilers:
  c:
    commands: cl.exe
    linker: link
    name: msvc
    version: 19.29.30156
  c++:
    commands: cl.exe
    linker: link
    name: msvc
    version: 19.29.30156
  cython:
    commands: cython
    linker: cython
    name: cython
    version: 3.0.11
Machine Information:
  build:
    cpu: x86_64
    endian: little
    family: x86_64
    system: windows
  host:
    cpu: x86_64
    endian: little
    family: x86_64
    system: windows
Python Information:
  path: C:\b\abs_25aj347ekn\croot\numpy_and_numpy_base_1730835595898\_h_env\python.exe
  version: '3.13'
SIMD Extensions:
  baseline:
  - SSE
  - SSE2
  - SSE3
  found:
  - SSSE3
  - SSE41
  - POPCNT
  - SSE42
  - AVX
  - F16C
  - FMA3
  - AVX2
  not found:
  - AVX512F
  - AVX512CD
  - AVX512_SKX
  - AVX512_CLX
  - AVX512_CNL
  - AVX512_ICL

### 3. Create a null vector of size 10.

#### âœ… ì¶œë ¥ ì˜ˆì‹œ


```
[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
```

In [3]:
null_vector = np.zeros(10)
print(null_vector)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

### 4. Create a null vector of size 10 but the fifth value which is 1.

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
[0. 0. 0. 0. 1. 0. 0. 0. 0. 0.]
```

In [4]:
null_vector = np.zeros(10)
null_vector[4] = 1
print(null_vector)

[0. 0. 0. 0. 1. 0. 0. 0. 0. 0.]

### 5. Create a vector with values ranging from 10 to 49.

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
[10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49]
```

In [5]:
vector = np.arange(10, 50)
print(vector)

[10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49]

### 6. Reverse a vector (first element becomes last).

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
[9 8 7 6 5 4 3 2 1 0]
```

In [6]:
vector = np.arange(10)
reversed_vector = vector[::-1]
print(reversed_vector)

[9 8 7 6 5 4 3 2 1 0]

### 7. Create a 3x3 matrix with values ranging from 0 to 8.

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
[[0 1 2]
 [3 4 5]
 [6 7 8]]
```

In [7]:
matrix = np.arange(9).reshape(3, 3)
print(matrix)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

### 8. Find indices of non-zero elements from [1,2,0,0,4,0].

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
(array([0, 1, 4]),)
```

In [8]:
arr = np.array([1, 2, 0, 0, 4, 0])
indices = np.nonzero(arr)
print(indices)

(array([0, 1, 4]),)

### 9. Create a 3x3 identity matrix.

(hint: `np.eye`)

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]
```

In [9]:
identify_matrix = np.eye(3)
print(identify_matrix)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

### 10. Create a 3x3x3 array with random values.

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
[[[0.30742852 0.26458726 0.85474383]
  [0.80234531 0.76268902 0.91286677]
  [0.8804109  0.51011378 0.82103555]]

 [[0.403753   0.83120234 0.15202655]
  [0.75782685 0.0732058  0.48148689]
  [0.2089428  0.44968622 0.88134184]]

 [[0.52251191 0.10738374 0.86279648]
  [0.26203911 0.42157754 0.68856833]
  [0.58133626 0.31059127 0.71354172]]]
```

In [10]:
random_array = np.random.random((3, 3, 3))
print(random_array)

[[[0.37850456 0.81371282 0.29178962]
  [0.23360103 0.5706071  0.75387059]
  [0.19198544 0.60728776 0.20983342]]

 [[0.578118   0.47732489 0.10410371]
  [0.77709031 0.61193377 0.90566018]
  [0.26880255 0.99778929 0.70979964]]

 [[0.73234835 0.31079501 0.42747301]
  [0.7110541  0.25327302 0.93719174]
  [0.49039873 0.32092416 0.04254448]]]

### 11. Create a 10x10 array with random values and find the minimum and maximum values.

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
0.018360924693465508 0.9990506368595156
```

In [15]:
import numpy as np
array_10x10 = np.random.random((10, 10))
min_val = array_10x10.min()
max_val = array_10x10.max()
print(min_val, max_val)

0.0007191266927567552 0.9949441743968253

### 12. Create a random vector of size 30 and find the mean value.

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
0.46249036320403636
```

In [16]:
random_vector = np.random.random(30)
mean_val = random_vector.mean()
print(mean_val)

0.48914391857344036

### 13. Create a 2d array with 1 on the border and 0 inside. (size: 10x10)

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
[[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]]
```

In [17]:
array_10x10_border = np.ones((10, 10))
array_10x10_border[1:-1, 1:-1] = 0
print(array_10x10_border)

[[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]]

### 14. How to add a border (filled with 0's) around an existing array?

(hint: ì¸ë±ì‹± ì‚¬ìš©)

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
# before
[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]

 # after
 [[0. 0. 0. 0. 0.]
  [0. 1. 1. 1. 0.]
  [0. 1. 1. 1. 0.]
  [0. 1. 1. 1. 0.]
  [0. 0. 0. 0. 0.]]

```

In [22]:
array = np.ones((5, 5))
print("# before")
print(array)

array[0, :] = 0
array[-1, :] = 0
array[:, 0] = 0
array[:, -1] = 0

print("\n# after")
print(array)

# before
[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]

# after
[[0. 0. 0. 0. 0.]
 [0. 1. 1. 1. 0.]
 [0. 1. 1. 1. 0.]
 [0. 1. 1. 1. 0.]
 [0. 0. 0. 0. 0.]]

### 15. What is the result of the following expression?

(ì‹¤í–‰ í›„, ê²°ê³¼ì— ëŒ€í•œ ì£¼ì„ ì‘ì„±í•´ì£¼ì„¸ìš”. ex. ì¶œë ¥ ê²°ê³¼ì— ëŒ€í•œ ì´ìœ )

```python
0 * np.nan
np.nan == np.nan
np.inf > np.nan
np.nan - np.nan
np.nan in set([np.nan])
0.3 == 3 * 0.1
```

In [24]:
import numpy as np

print(0*np.nan) #nan
print(np.nan == np.nan) #False
print(np.inf > np.nan) #False
print(np.nan - np.nan) #nan
print(np.nan in set([np.nan])) #True
print(0.3 == 3 * 0.1) #False

nan
False
False
nan
True
False

### 16. Normalize a 5x5 random matrix.

(hint: (x - mean) / std)

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
[[-1.4765971   0.9582795  -1.29910242  1.0250981  -0.79801651]
 [ 0.57945383 -1.28559078  0.02733238  0.99675052  1.2702088 ]
 [-0.08513084 -1.4686812  -0.78813593 -0.34559303 -1.15052328]
 [ 0.98183813 -1.41255344  0.37190169  1.05697419 -0.02668639]
 [-1.14466851  0.98911205  1.14499256  0.69454882  1.18478886]]
```

In [25]:
import numpy as np

matrix = np.random.random((5, 5))
normalized_matrix = (matrix - matrix.mean()) / matrix.std()
print(normalized_matrix)

[[-1.29039112  0.42512756  1.03280206 -1.72650031  0.47048547]
 [-0.64384227 -1.30879241  0.7745553  -1.23079315  0.52811124]
 [ 0.24069117 -1.3976149   1.45037571 -0.11909066  0.16610311]
 [-0.92809724  1.76192332  1.30101747  0.27302169 -1.61696248]
 [ 0.13852084  0.60032459  1.21255895 -0.09989742 -0.01363655]]

### 17. Multiply a 5x3 matrix by a 3x2 matrix. (real matrix product)

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
[[3. 3.]
 [3. 3.]
 [3. 3.]
 [3. 3.]
 [3. 3.]]
```

In [26]:
import numpy as np

A = np.ones((5, 3))
B = np.ones((3, 2))
C = np.dot(A, B)
print(C)

[[3. 3.]
 [3. 3.]
 [3. 3.]
 [3. 3.]
 [3. 3.]]

### 18. What are the result of the following expressions?

(ì‹¤í–‰ í›„, ê²°ê³¼ì— ëŒ€í•œ ì£¼ì„ ì‘ì„±í•´ì£¼ì„¸ìš”. ex. ì¶œë ¥ ê²°ê³¼ì— ëŒ€í•œ ì´ìœ )

```python
np.array(0) / np.array(0)
np.array(0) // np.array(0)
np.array([np.nan]).astype(int).astype(float)
```

In [28]:
import numpy as np
print(np.array(0) / np.array(0)) #nan : 0ì„ 0ìœ¼ë¡œ ë‚˜ëˆ„ë©´ ì •ì˜ë˜ì§€ ì•ŠìŒ
print(np.array(0) // np.array(0)) #0 : numpyì—ì„œëŠ” 0/0ì„ RuntimeWarning í•œ í›„ ê²°ê³¼ë¥¼ 0ìœ¼ë¡œ ë°˜í™˜
print(np.array([np.nan]).astype(int).astype(float)) #nanì„ intë¡œ ë³€í™˜í•˜ë©´ ë§¤ìš° í° ìŒìˆ˜ê°€ë˜ê³  ì´í›„ floatë¡œ ë‹¤ì‹œ ë³€í™˜ëœë‹¤.

nan
0
[-9.22337204e+18]

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_18292\1532214165.py:2: RuntimeWarning: invalid value encountered in divide
  print(np.array(0) / np.array(0)) #nan : 0ì„ 0ìœ¼ë¡œ ë‚˜ëˆ„ë©´ ì •ì˜ë˜ì§€ ì•ŠìŒ
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_18292\1532214165.py:3: RuntimeWarning: divide by zero encountered in floor_divide
  print(np.array(0) // np.array(0)) #0 : numpyì—ì„œëŠ” 0/0ì„ RuntimeWarning í•œ í›„ ê²°ê³¼ë¥¼ 0ìœ¼ë¡œ ë°˜í™˜
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_18292\1532214165.py:4: RuntimeWarning: invalid value encountered in cast
  print(np.array([np.nan]).astype(int).astype(float)) #nanì„ intë¡œ ë³€í™˜í•˜ë©´ ë§¤ìš° í° ìŒìˆ˜ê°€ë˜ê³  ì´í›„ floatë¡œ ë‹¤ì‹œ ë³€í™˜ëœë‹¤.

### 19. Create a 5x5 matrix with row values ranging from 0 to 4.

#### âœ… ì¶œë ¥ ì˜ˆì‹œ

```
[[0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]]
```

In [29]:
import numpy as np

matrix = np.tile(np.arange(5), (5, 1)).astype(float)
print(matrix)

[[0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]]

### 20. Create a random vector of size 10 and sort it.

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
[0.11443045 0.16715169 0.32515597 0.38374227 0.48327044 0.78728921
 0.80523192 0.85915686 0.96930939 0.99586525]

```

In [30]:
import numpy as np
random_vector = np.random.random(10)
sorted_vector = np.sort(random_vector)
print(sorted_vector)

[0.13470375 0.15376543 0.2262298  0.2625694  0.64102436 0.71314755
 0.72653015 0.92010588 0.92480558 0.98423397]

## **íŒë‹¤ìŠ¤**


### 1. Import pandas under the alias `pd`.

In [32]:
import pandas as pd

### 2. Print the version of pandas that has been imported.

In [33]:
import pandas as pd
print(pd.__version__)

2.2.3

## 3~20ë²ˆ ë¬¸ì œëŠ” ì•„ë˜ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ì§„í–‰ë©ë‹ˆë‹¤.

Consider the following Python dictionary `data` and Python list `labels`:

``` python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
```

### 3. Create a DataFrame `df` from this dictionary `data` which has the index `labels`.

In [34]:
# ë¬¸ì œ í’€ì´ ì „ numpy ì„í¬íŠ¸
import numpy as np
import pandas as pd

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)
print(df)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

### 4. Display a summary of the basic information about this DataFrame and its data.  
(hint: there is a single method that can be called on the DataFrame)

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes

### 5. Display a summary of the basic statistics about data of this DataFrame.  
(hint: there is a single method that can be called on the DataFrame)

In [36]:
df.describe()

            age     visits
count  8.000000  10.000000
mean   3.437500   1.900000
std    2.007797   0.875595
min    0.500000   1.000000
25%    2.375000   1.000000
50%    3.000000   2.000000
75%    4.625000   2.750000
max    7.000000   3.000000

### 6. Return the first 3 rows of the DataFrame `df`.

In [37]:
print(df.head(3))

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

### 7. Select just the 'animal' and 'age' columns from the DataFrame `df`.

In [38]:
print(df[['animal', 'age']])

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

### 8. Select the data in rows `[3, 4, 8]` **and** in columns `['animal', 'age']`.

In [39]:
print(df.loc[['d', 'e', 'i'], ['animal', 'age']])

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

### 9. Select only the rows where the number of visits is greater than 3.

In [40]:
print(df[df['visits']>3])

Empty DataFrame
Columns: [animal, age, visits, priority]
Index: []

### 10. Select the rows where the age is missing, i.e. it is `NaN`.

In [41]:
print(df[df['age'].isna()])

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

### 11. Select the rows where the animal is a cat *and* the age is less than 3.

In [42]:
print(df[(df['animal'] == 'cat') & (df['age'] < 3)])

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

### 12. Select the rows the age is between 2 and 4 (inclusive).

In [43]:
print(df[df['age'].between(2, 4)])

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
f    cat  2.0       3       no
j    dog  3.0       1       no

### 13. Change the age in row 'f' to 1.5.

In [44]:
df.loc['f', 'age'] = 1.5
print(df.loc['f'])

animal      cat
age         1.5
visits        3
priority     no
Name: f, dtype: object

### 14. Calculate the sum of all visits in `df` (i.e. the total number of visits).

In [45]:
total_visits = df['visits'].sum()
print(total_visits)

19

### 15. Calculate the mean age for each different animal in `df`.

In [47]:
mean_age_per_animal = df.groupby('animal')['age'].mean()
print(mean_age_per_animal)

animal
cat      2.333333
dog      5.000000
snake    2.500000
Name: age, dtype: float64

### 16. Append a new row 'k' to `df` with your choice of values for each column. Then delete that row to return the original DataFrame.

In [49]:
df.loc['k'] = ['rabbit', 1.0, 2, 'yes']
print("After adding row k:\n", df.tail())
df = df.drop('k')
print("\nAfter deleting row k:\n", df.tail())

After adding row k:
    animal  age  visits priority
g   snake  4.5       1       no
h     cat  NaN       1      yes
i     dog  7.0       2       no
j     dog  3.0       1       no
k  rabbit  1.0       2      yes

After deleting row k:
   animal  age  visits priority
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

### 17. Count the number of each type of animal in `df`.

In [50]:
animal_counts = df['animal'].value_counts()
print(animal_counts)

animal
cat      4
dog      4
snake    2
Name: count, dtype: int64

### 18. Sort `df` first by the values in the 'age' in *decending* order, then by the value in the 'visits' column in *ascending* order (so row `i` should be first, and row `d` should be last).
#### âœ…ì¶œë ¥ ì˜ˆì‹œ

 index |animal	| age	|visits|	priority
---|---|---|---|---
i|	dog|	7.0|	2|	no
e|	dog|	5.0|	2|	no
g|	snake|	4.5|	1|	no
j|	dog|	3.0|	1|	no
b|	cat|	3.0|	3|	yes
a|	cat|	2.5|	1|	yes
f|	cat|	1.5|	3|	no
c|	snake|	0.5|	2|	no
h|	cat|	NaN|	1|	yes
d|	dog|	NaN|	3|	yes

In [51]:
sorted_df = df.sort_values(by=['age', 'visits'], ascending=[False, True])
print(sorted_df)

  animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
j    dog  3.0       1       no
b    cat  3.0       3      yes
a    cat  2.5       1      yes
f    cat  1.5       3       no
c  snake  0.5       2       no
h    cat  NaN       1      yes
d    dog  NaN       3      yes

### 19. The 'priority' column contains the values 'yes' and 'no'. Replace this column with a column of boolean values: 'yes' should be `True` and 'no' should be `False`.  
(hint: `map`)

In [52]:
df['priority'] = df['priority'].map({'yes':True, 'no':False})
print(df)

  animal  age  visits  priority
a    cat  2.5       1      True
b    cat  3.0       3      True
c  snake  0.5       2     False
d    dog  NaN       3      True
e    dog  5.0       2     False
f    cat  1.5       3     False
g  snake  4.5       1     False
h    cat  NaN       1      True
i    dog  7.0       2     False
j    dog  3.0       1     False

### 20. In the 'animal' column, change the 'snake' entries to 'python'.

In [53]:
df['animal'] = df['animal'].replace('snake', 'python')

In [54]:
# í™•ì¸ìš© df ì¶œë ¥ ì…€
df

   animal  age  visits  priority
a     cat  2.5       1      True
b     cat  3.0       3      True
c  python  0.5       2     False
d     dog  NaN       3      True
e     dog  5.0       2     False
f     cat  1.5       3     False
g  python  4.5       1     False
h     cat  NaN       1      True
i     dog  7.0       2     False
j     dog  3.0       1     False

### 21. Given a DataFrame of random numeric values:
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # this is a 5x3 DataFrame of float values
```

how do you subtract the row mean from each element in the row?

In [55]:
# ëœë¤ ì‹œë“œ ê³ ì •
np.random.seed(2025)

df = pd.DataFrame(np.random.random(size=(5, 3)))
print("ì›ë³¸ DataFrame:\n", df, "\n")

df_centered = df.sub(df.mean(axis=1), axis=0)
print("í–‰ í‰ê· ì„ ëº€ DataFrame:\n", df_centered)

ì›ë³¸ DataFrame:
           0         1         2
0  0.135488  0.887852  0.932606
1  0.445568  0.388236  0.257596
2  0.657368  0.492617  0.964238
3  0.800984  0.455205  0.801058
4  0.041718  0.769458  0.003171

í–‰ í‰ê· ì„ ëº€ DataFrame:
           0         1         2
0 -0.516494  0.235870  0.280624
1  0.081768  0.024435 -0.106204
2 -0.047373 -0.212124  0.259497
3  0.115235 -0.230544  0.115309
4 -0.229731  0.498009 -0.268278