#Numpy

넘파이의 기반 데이터 타입: ndarray
ndarray-다차원 배열 생성.연산 수행

In [17]:
import numpy as np

array1의 shape (3,) ==>1차원 array로, 3개의 데이터

array2의 shape (2,3) ==> 2차원 array로, 2row 3column total 6data

array3의 shape(1,3) ==> 2차원 data, 1row 3column

In [18]:
array1 =  np.array([1,2,3])
print('array1 type: ', type(array1))
print('array1 array 형태:', array1.shape)
#shape 변수는 ndarray의 크기, 즉 행과 열의 수를 튜플 형태로 가짐

array2 = np.array([[1,2,3], [2,3,4]])
print('array2 type: ', type(array2))
print('array2 array 형태:', array2.shape)

array3 = np.array([[1,2,3]])
print('array3 type:', type(array3))
print('array3 array 형태:', array3.shape)

array1 type:  <class 'numpy.ndarray'>
array1 array 형태: (3,)
array2 type:  <class 'numpy.ndarray'>
array2 array 형태: (2, 3)
array3 type: <class 'numpy.ndarray'>
array3 array 형태: (1, 3)

In [19]:
#각 array의 차원을 ndarray.ndim을 사용해 확인
print('array1: {0}차원, array2: {1}차원, array3: {2}차원'.format(array1.ndim, array2.ndim, array3.ndim))

array1: 1차원, array2: 2차원, array3: 2차원

In [20]:
#data type
list1 = [1,2,3]
print(type(list1))
array1 = np.array(list1)
print(type(array1))
print(array1, array1.dtype)

<class 'list'>
<class 'numpy.ndarray'>
[1 2 3] int64

다른 데이터타입이 섞여 있을 경우 데이터 타입이 더 큰 데이터 타입으로 변환되어 int 형이 유니코드 문자열 값으로 변환됨.

In [21]:
list2 = [1,2,'test'] #int 형이 유니코드 문자열 값으로 변환됨.
array2 = np.array(list2)
print(array2, array2.dtype)

list3 = [1,2, 3.0]
array3 = np.array(list3)
print(array3, array3.dtype)

['1' '2' 'test'] <U21
[1. 2. 3.] float64

astype() 메서드: ndarray 내 데이터값의 타입 변경

In [22]:
array_int = np.array([1,2,3])
array_float = array_int.astype('float64')
print(array_float, array_float.dtype)

array_int1 = array_float.astype('int32')
print(array_int1, array_int1.dtype)

array_float1 = np.array([1.1, 2.1, 3.1])
array_int2 = array_float1.astype('int32')
print(array_int2, array_int2.dtype)

[1. 2. 3.] float64
[1 2 3] int32
[1 2 3] int32

**arange()**: array를 range()로 표현
*   0~(함수인자의 -1)값까지 순차적으로 표현
*   default 함수 인자는 stop. start값도 부여가능

In [4]:
#arange()
sequence_array = np.arange(10)
print(sequence_array)
print(sequence_array.dtype, sequence_array.shape)

[0 1 2 3 4 5 6 7 8 9]
int64 (10,)

**zeros()**: 모든 값을 0으로 채운 해당 shape를 가진 ndarray를 반환

*   튜플 형태의 shape값을 입력

**ones()**: 모든 값을 1로 채운 해당 shape를 가진 ndarray를 반환

*   함수 인자로 dtype default: float64

In [5]:
#zero
zero_array = np.zeros((3,2), dtype = 'int32')
print(zero_array)
print(zero_array.dtype, zero_array.shape)

#ones
one_array = np.ones((3,2))
print(one_array)
print(one_array.dtype, one_array.shape)

[[0 0]
 [0 0]
 [0 0]]
int32 (3, 2)
[[1. 1.]
 [1. 1.]
 [1. 1.]]
float64 (3, 2)

**reshape()** : ndarray를 특정 차원 및 크기로 변환

In [6]:
#reshape()
array1 = np.arange(10)
print('array1:\n', array1)

array2= array1.reshape(2,5)
print('array2:\n', array2)

array3 = array1.reshape(5,2)
print('array3:\n', array3)

array1:
 [0 1 2 3 4 5 6 7 8 9]
array2:
 [[0 1 2 3 4]
 [5 6 7 8 9]]
array3:
 [[0 1]
 [2 3]
 [4 5]
 [6 7]
 [8 9]]

In [7]:
#크기가 맞지 않으면 오류가 발생함
array1.reshape(4,3)

ValueError: cannot reshape array of size 10 into shape (4,3)

In [9]:
#인자를 -1
array1 = np.arange(10)
print(array1)

array2 = array1.reshape(-1,5) #5column에 맞게 row를 자동으로 생성해 변환
print('array2 shape: ', array2.shape)

array3 = array1.reshape(5,-1) #5row에 맞게 column을 자동으로 생성해 변환
print('array3 shape:', array3.shape)

[0 1 2 3 4 5 6 7 8 9]
array2 shape:  (2, 5)
array3 shape: (5, 2)

In [10]:
array1 = np.arrange(10)
array4 =array1.reshape(-1,4) #column이 4인 row를 자동 생성할 수 없기에 오류 발생

AttributeError: module 'numpy' has no attribute 'arrange'

reshape(-1,1)와 같은 형태로 자주 사용됨, =>ndarray를 반드시 1개의 칼럼을 가진 2차원 형태로 변환

In [12]:
array1 = np.arange(8)
array3d = array1.reshape((2,2,2))
print('array3d:\n', array3d.tolist())

#3차원 ndarray를 2차원 ndarray로 변환
array5 = array3d.reshape(-1, 1)
print('array5:\n', array5.tolist())
print('array5 shape:', array5.shape)

#1차원 ndarray를 2차원 ndarry로 변환
array6 = array1.reshape(-1,1)
print('array6:\n', array6.tolist())
print('array6 shape:', array6.shape)

array3d:
 [[[0, 1], [2, 3]], [[4, 5], [6, 7]]]
array5:
 [[0], [1], [2], [3], [4], [5], [6], [7]]
array5 shape: (8, 1)
array6:
 [[0], [1], [2], [3], [4], [5], [6], [7]]
array6 shape: (8, 1)

**Indexing**

1.   특정한 데이터만 추출: 해당 위치의 data 반환
2.   Sclicing: 연속된 ndarray 추출 => 시작인덱스:종료인덱스
3.   Fancy Indexing: 일정한 인덱싱 집합을 리스트 또는 ndarray 형태로 지정해 반환
4.   Boolean Indexing:  True에 해당하는 인덱스 위치에 있는 데이터의 ndarray를 반환

In [13]:
#단일 값 추출
#1~9까지 1차원 ndarrary 생성
array1 = np.arange(start =1, stop = 10)
print('array1:', array1)

#index는 0부터 시작
value = array1[2]
print('value: ', value)
print(type(value))

array1: [1 2 3 4 5 6 7 8 9]
value:  3
<class 'numpy.int64'>

In [14]:
print('맨 뒤의 값:', array1[-1], '맨 뒤에서 두번째 값:', array1[-2])

맨 뒤의 값: 9 맨 뒤에서 두번째 값: 8

In [15]:
array1[0] = 9
array1[8] = 0
print('array1: ', array1)

array1:  [9 2 3 4 5 6 7 8 0]

row와 column은 numpy ndarray에서 사용되지 않는 방식.
정확히는 axis 0, axis 1
=> [row = 0, col = 1] == [axis 0=0, axis1 =1]

3차원 ndarray의 경우, axis 0, axis 1, axis 2 (행, 열, 높이)

In [16]:
#다차원 ndarray에서 단일 값 추출
array1d = np.arange(start = 1, stop = 10)
array2d = array1d.reshape(3,3)
print(array2d)

#[row, column]
print('(row = 0, col = 0) intdex 가리키는 값:: ', array2d[0,0])
print('(row = 0, col = 1) intdex 가리키는 값:: ', array2d[0,1])
print('(row = 1, col = 0) intdex 가리키는 값:: ', array2d[1,0])
print('(row = 2, col = 2) intdex 가리키는 값:: ', array2d[2,2])

[[1 2 3]
 [4 5 6]
 [7 8 9]]
(row = 0, col = 0) intdex 가리키는 값::  1
(row = 0, col = 1) intdex 가리키는 값::  2
(row = 1, col = 0) intdex 가리키는 값::  4
(row = 2, col = 2) intdex 가리키는 값::  9

**Sclicing**
1.  시작 인덱스 생략=>자동으로 0으로 간주
2.  종료 인덱스 생략 => 맨마지막 인덱스로 간주
3.  둘다 생략=>맨처음:맨마지막으로 간주

In [17]:
#Sclicing
array1 = np.arange(start = 1, stop =10)
array3 = array1[0:3]
print(array3)
print(type(array3))

[1 2 3]
<class 'numpy.ndarray'>

In [19]:
array1 = np.arange(start = 1, stop =10)
array4 = array1[:3]
print(array4)

array5 = array1[3:]
print(array5)

array6 = array1[:]
print(array6)

[1 2 3]
[4 5 6 7 8 9]
[1 2 3 4 5 6 7 8 9]

In [22]:
#2차원 ndarray를 sclicing으로 접근
array1d = np.arange(start = 1, stop = 10)
array2d = array1d.reshape(3,3)
print('array2d:\n', array2d)

print('array2d[0:2, 0:2]\n', array2d[0:2, 0:2])
print('array2d[1:3, 0:3]\n', array2d[1:3, 0:3])
print('array2d[1:3, :]\n', array2d[1:3, :])
print('array2d[:, :]\n', array2d[:, :])
print('array2d[:2, 1:]\n', array2d[:2, 1:])
print('array2d[:2, 0]\n', array2d[:2, 0])

array2d:
 [[1 2 3]
 [4 5 6]
 [7 8 9]]
array2d[0:2, 0:2]
 [[1 2]
 [4 5]]
array2d[1:3, 0:3]
 [[4 5 6]
 [7 8 9]]
array2d[1:3, :]
 [[4 5 6]
 [7 8 9]]
array2d[:, :]
 [[1 2 3]
 [4 5 6]
 [7 8 9]]
array2d[:2, 1:]
 [[2 3]
 [5 6]]
array2d[:2, 0]
 [1 4]

![KakaoTalk_20250906_230931248.jpg]()

In [24]:
#2차원 ndarray에서 뒤에오는 인덱스 제거 시, 1차원 ndarray 반환
print(array2d[0])
print(array2d[1])
print('arrray2d[0] shape:', array2d[0].shape, 'array2d[1] shape:', array2d[1].shape)

[1 2 3]
[4 5 6]
arrray2d[0] shape: (3,) array2d[1] shape: (3,)

**Fancy Indexing**
:list나 ndarray로 인덱스 집합을 지정하면 해당 위치의 인덱스 ndarray를 반환

In [26]:
array1d = np.arange(start = 1, stop = 10)
array2d = array1d.reshape(3,3)

array3 = array2d[[0,1], 2] #row 축에 fancy indexing. (row, col)인덱스가 (0,2), (1,2)로 적용됨
print('array2d[[0,1], 2]=>', array3.tolist())

array4 = array2d[[0,1], 0:2] #((0,0), (0,1)), ((1,0), (1,1)) 인덱싱
print('array2d[[0,1], 0:2]=>', array4.tolist())


array5 = array2d[[0,1]] #((0:), (1:))
print('array2d[[0,1]]=>', array5.tolist())

array2d[[0,1], 2]=> [3, 6]
array2d[[0,1], 0:2]=> [[1, 2], [4, 5]]
array2d[[0,1]]=> [[1, 2, 3], [4, 5, 6]]

**Boolean Indexing**
: 조건 필터링과 검색이 가능한 인덱싱 방식. for loop과 if else문보다 훨씬 간단함.

In [28]:
array1d = np.arange(start = 1, stop = 10)
#[] 안에 array1d > 5 Boolean Indexing을 적용
array3 = array1d[array1d>5]
print('array1d >5 불린 인덱싱 결과값: ', array3)

array1d >5 불린 인덱싱 결과값:  [6 7 8 9]

In [29]:
array1d >5

array([False, False, False, False, False,  True,  True,  True,  True])

In [30]:
boolean_indexes = np.array([False, False, False, False, False, True, True, True, True])
array3 = array1d[boolean_indexes]
print('불린 인덱스로 필터링 결과:', array3)

불린 인덱스로 필터링 결과: [6 7 8 9]

In [32]:
indexes = np.array([5,6,7,8])
array4 = array1d[indexes]
print('일반 인덱스로 필터링 결과:', array4)

일반 인덱스로 필터링 결과: [6 7 8 9]

**행렬의 정렬 - sort(), argsort()**

**sort()**
*   행렬을 정렬
*   np.sort() : 원 행렬 유지한 채, 정렬된 행렬을 반환
*   ndarray.sort() : 원 행렬 자체를 정렬. 반환값은 None


**argsort()**
*    정렬된 행렬의 인덱스를 반환
*   항목 추가

In [34]:
org_array = np.array([3,1,9,5])
print('원본 행렬: ', org_array)
#np.sort()로 정렬
sort_array1 = np.sort(org_array)
print('np.sort() 호출 후 반환된 정렬 행렬:', sort_array1)

원본 행렬:  [3 1 9 5]
np.sort() 호출 후 반환된 정렬 행렬: [1 3 5 9]

In [35]:
print('np.sort() 호출 후 원본 행렬:', org_array)
#ndarray.sort()로 정렬
sort_array2 = org_array.sort()
print('org_array.sort() 호출 후 반환된 행렬:', sort_array2)
print('org_array.sort() 호출 후 원본 행렬:', org_array)

np.sort() 호출 후 원본 행렬: [3 1 9 5]
org_array.sort() 호출 후 반환된 행렬: None
org_array.sort() 호출 후 원본 행렬: [1 3 5 9]

In [36]:
#내림차순으로 정렬
sort_array1_desc = np.sort(org_array)[::-1]
print('내림차순으로 정렬:', sort_array1_desc)

내림차순으로 정렬: [9 5 3 1]

![KakaoTalk_20250907_000510791.jpg]()

In [38]:
array2d = np.array([[8,12], [7,1]])

sort_array2d_axis0 = np.sort(array2d, axis = 0)
print('로우 방향으로 정렬:\n', sort_array2d_axis0)

sort_array2d_axis1 = np.sort(array2d, axis = 1)
print('칼럼 방향으로 정렬:\n', sort_array2d_axis1)

로우 방향으로 정렬:
 [[ 7  1]
 [ 8 12]]
칼럼 방향으로 정렬:
 [[ 8 12]
 [ 1  7]]

In [39]:
#argsort(): 원본 행렬의 정렬 시 행렬 인덱스 값
org_array = np.array([3,1,9,5])
sort_indices = np.argsort(org_array)
print(type(sort_indices))
print('행렬 정렬 시 원본 행렬의 인덱스:', sort_indices)
#정렬 시, 1,3,9,5 순서대로-> 그럼 1,3,9,5의 각 인덱스 반환

<class 'numpy.ndarray'>
행렬 정렬 시 원본 행렬의 인덱스: [1 0 3 2]

In [40]:
#내림차순 시 argsort()
org_array = np.array([3,1,9,5])
sort_indices_desc = np.argsort(org_array)[::-1]
print('행렬 내림차순 정렬 시 원본 행렬의 인덱스:', sort_indices_desc)

행렬 내림차순 정렬 시 원본 행렬의 인덱스: [2 3 0 1]

In [41]:
#argsort()의 활용
#numpy의 ndarray는 RDBMS의 TABLE 칼럼이나 Pandas의 DataFrame 갈럼과 같은 메타 데이터를 가질 수 없음. 실제값-메타데이터를 별도의 ndarray로 각각 가짐
import numpy as np

name_array = np.array(['John', 'Mike', 'Sarah', 'Kate', 'Samuel'])
score_array = np.array([78, 95, 84, 98, 88])

sort_indices_asc = np.argsort(score_array)
print('성적 오름차순 정렬 시 score_array의 인덱스:', sort_indices_asc)
print('성적 오름차순으로 name_array의 이름 출력:', name_array[sort_indices_asc])

성적 오름차순 정렬 시 score_array의 인덱스: [0 2 4 1 3]
성적 오름차순으로 name_array의 이름 출력: ['John' 'Sarah' 'Samuel' 'Mike' 'Kate']

*선형대수 연산*

**행렬 내적과 전치 행렬 구하기**

*   내적 = np.dot()
*   전치 = transpose()

In [43]:
#내적
A = np.array([[1,2,3], [4,5,6]])
B = np.array([[7,8], [9,10], [11, 12]])
dot_product = np.dot(A, B)
print('행렬 내적 결과:\n', dot_product)

행렬 내적 결과:
 [[ 58  64]
 [139 154]]

In [44]:
#전치
A = np.array([[1,2], [3,4]])
transpose_mat = np.transpose(A)
print('A의 전치행렬:\n', transpose_mat)

A의 전치행렬:
 [[1 3]
 [2 4]]

# Pandas

In [2]:
import pandas as pd

**Pandas의 API**

1.   read_csv:

*   CSV(칼럼을 ‘,’로 구분한 파일 포맷) 파일 포맷을 위한 API
*   csv뿐만 아니라 어떤 필드 구분 문자 기반의 파일 포맷도 DataFrame으로 변환
*   filepath 인자가 가장 중요 => read_csv(filepath_or_buffer, sep = ',')

2.   read_table(): ‘\t’으로 필드를 구분
3.   read_fwf()

*  fixed width, 고정 길이 기반의 칼럼 포맷을 DataFrame으로 로딩하기 위한 API

In [8]:
titanic_df = pd.read_csv(r'/content/train.csv')
titanic_df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

read_csv()는 파일의 맨 처음 row를 칼럼명으로 인지
맨 왼쪽의 숫자들은 Pandas의 Index 객체값

In [53]:
titanic_df = pd.read_csv(r'/content/train.csv')
print('titanic 변수 type:', type(titanic_df))
titanic_df

titanic 변수 type: <class 'pandas.core.frame.DataFrame'>

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [54]:
print('DataFrame 크기:', titanic_df.shape)

DataFrame 크기: (891, 12)

In [55]:
#info
titanic_df.info() #총 데이터 건수, 데이터 타입, NUll 건수 파악

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

**describe()**

*   숫자형 데이터값의 n-percentile 분포도, 평균값, 최댓값, 최솟값을 나타냄
*   자동으로 object 타입의 칼럼은 출력에서 제외
*   count-NotNull인 데이터 건수/mean-전체데이터 평균값/std-표준편차/min,max/25%-25percentile값 ...

In [56]:
#describe
titanic_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

**value_counts()**
*   지정된 칼럼의 데이터값 건수를 반환
*   데이터 분포도 확인에 유용

In [57]:
value_counts = titanic_df['Pclass'].value_counts()
print(value_counts)

Pclass
3    491
1    216
2    184
Name: count, dtype: int64

In [58]:
titanic_pclass = titanic_df['Pclass']
print(type(titanic_pclass))  #칼럼에 해당하는 Series 객체를 반환

<class 'pandas.core.series.Series'>

In [59]:
titanic_pclass.head()

0    3
1    1
2    3
3    1
4    3
Name: Pclass, dtype: int64

In [60]:
value_counts = titanic_df['Pclass'].value_counts()
print(type(value_counts))
print(value_counts)  #Series 객체를 반환. 인덱스의 고유성이 보장됨.

<class 'pandas.core.series.Series'>
Pclass
3    491
1    216
2    184
Name: count, dtype: int64

value_counts() 메서드를 사용-> null 값 무시

dropna 인자로 null 값 포함해 개별 데이터 값의 건수를 계산할지 판단

In [61]:
print('titanic_df 데이터 건수:', titanic_df.shape[0])
print('기본 설정인 dropna = True로 value_counts()')
#value_counts()는 default로 dropna = True 이므로 value_counts(dropna = True)와 동일
print(titanic_df['Embarked'].value_counts())
print(titanic_df['Embarked'].value_counts(dropna = False)) #Null 값을 포함해 value_counts()를 적용

titanic_df 데이터 건수: 891
기본 설정인 dropna = True로 value_counts()
Embarked
S    644
C    168
Q     77
Name: count, dtype: int64
Embarked
S      644
C      168
Q       77
NaN      2
Name: count, dtype: int64

**DataFrame과 ndarray 상호 변환**


1.   ndarray, 리스트, 딕셔너리를 DataFrame으로 변환


*   DataFrame은 리스트와 ndarry와 달린 칼럼명을 가짐
*   DataFrame은 2차원 데이터->2차원 이하의 데이터들만 변환가능

In [3]:
#1치원 리스트를 DataFrame으로 변환
import numpy as np

col_name1 = ['col1']
list1 = [1,2,3]
array1 = np.array(list1)
print('array1 shape:', array1.shape)

#list를 이용해 DataFrame 생성
df_list1 = pd.DataFrame(list1, columns = col_name1)
print('1차원 리스트로 만든 DataFrame:\n', df_list1)

#ndarray를 이용해 DataFrame 생성
df_array1 = pd.DataFrame(array1, columns = col_name1)
print('1차원 ndarray로 만든 DataFrame:\n', df_array1)

#1차원 형태의 데이터를 기반으로 DataFrame을 생성하므로 칼럼명이 한개만 필요

array1 shape: (3,)
1차원 리스트로 만든 DataFrame:
    col1
0     1
1     2
2     3
1차원 ndarray로 만든 DataFrame:
    col1
0     1
1     2
2     3

In [4]:
#2차원 형태의 데이터
#3개의 칼럼명이 필요
col_name2 = ['col1', 'col2', 'col3']

#2행 3열 형태의 리스트와 ndarray 생성한 뒤 이를 DataFrame으로 변환
list2 = [[1,2,3], [11,12,13]]
array2 = np.array(list2)
print('array2 shape:', array2.shape)
df_list2 = pd.DataFrame(list2, columns = col_name2)
print('2차원 리스트로 만든 DataFrame:\n', df_list2)
df_array2 = pd.DataFrame(array2, columns = col_name2)
print('2차원 ndarray로 만든 DataFrame:\n', df_array2)

array2 shape: (2, 3)
2차원 리스트로 만든 DataFrame:
    col1  col2  col3
0     1     2     3
1    11    12    13
2차원 ndarray로 만든 DataFrame:
    col1  col2  col3
0     1     2     3
1    11    12    13

In [5]:
#딕셔너리를 DataFrame으로 변환
#key =>칼럼명//Value => 칼럼데이터
#key는 문자열 칼럼명으로 매핑, Value는 리스트 형(또는 ndarray)칼럼 데이터로 매핑
dict = {'col1':[1,11], 'col2': [2, 22], 'col3': [3,33]}
df_dict = pd.DataFrame(dict)
print('딕셔너리로 만든 DataFrame:\n', df_dict)

딕셔너리로 만든 DataFrame:
    col1  col2  col3
0     1     2     3
1    11    22    33

2.   DataFrame을 ndarray, 리스트, 딕셔너리로 변환


*   핸들링은 DataFrame 사용 후, ML 입력 인자등에 적용하기 위해 다시 ndarray로 변환

In [6]:
#DataFrame을 ndarray로 변환
array3 = df_dict.values
print('df_dict.values 타입:', type(array3), 'df_dict.values shape:', array3.shape)
print(array3)

df_dict.values 타입: <class 'numpy.ndarray'> df_dict.values shape: (2, 3)
[[ 1  2  3]
 [11 22 33]]

In [7]:
#DataFrame을 리스트로 변환
list3 = df_dict.values.tolist()
print('df_dict.values.tolist() 타입:', type(list3))
print(list3)

#DataFrame을 딕셔너리로 변환
dict3 = df_dict.to_dict('list')  #인자로 list를 입력하면 딕셔너리의 값이 리스트형으로 반환
print('\n df_dict.to_dict() 타입: ', type(dict3))
print(dict3)

df_dict.values.tolist() 타입: <class 'list'>
[[1, 2, 3], [11, 22, 33]]

 df_dict.to_dict() 타입:  <class 'dict'>
{'col1': [1, 11], 'col2': [2, 22], 'col3': [3, 33]}

**DataFrame의 칼럼 데이터세트 생성과 수정**

[]연산자를 활용해 생성 및 수정

새로운 Series 생성됨.

In [9]:
titanic_df['Age_0'] = 0
titanic_df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_0
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0

In [11]:
titanic_df['Age_by_10'] = titanic_df['Age']*10
titanic_df['Family_No'] = titanic_df['SibSp'] + titanic_df['Parch']+1
titanic_df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_0,Age_by_10,Family_No
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,220.0,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0,380.0,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,260.0,1

In [12]:
#DataFrame내 기존 컬럼 값 업데이트
titanic_df['Age_by_10'] = titanic_df['Age_by_10'] + 100
titanic_df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_0,Age_by_10,Family_No
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,320.0,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0,480.0,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,360.0,1

**DataFrame 데이터 삭제**


*   drop() 메서드를 이용

In [ ]:
#drop() 매서드의 원형
"""
DataFrame.drop(labels = None, axis = 0, index = None, columns = None, level = None, inplace = False, errors = 'raise'
"""



*   가장 중요한 parameter => **labels, axis, inplace**
*   axis = 0 =>row 방향 축, axis = 1 => column 방향 축

In [13]:
#axis
titanic_drop_df = titanic_df.drop('Age_0', axis =1)
titanic_drop_df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_by_10,Family_No
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,320.0,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,480.0,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,360.0,1



*   inplace = False 가 default 값.
*   inplace = False면 자신의 DataFrame 데이터는 삭제X.

In [14]:
#inplace
titanic_df.head(3) #아직 'Age_0' 칼럼 존재. inplace = False 였기 때문.

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_0,Age_by_10,Family_No
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,320.0,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0,480.0,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,360.0,1

In [15]:
drop_result = titanic_df.drop(['Age_0', 'Age_by_10', 'Family_No'], axis = 1, inplace = True)
print('inplace = Trud로 drop 후 반환된 값: ', drop_result)
titanic_df.head(3)
#반환 값이 None이 되기 때문에 자기 자신의 DataFraem 객체로 할당하면 안됨.

inplace = Trud로 drop 후 반환된 값:  None

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [16]:
pd.set_option('display.width', 1000)
pd.set_option('display.max_colwidth', 15)
print('#### before axis 0 drop ####')
print(titanic_df.head(3))

titanic_df.drop([0,1,2], axis = 0, inplace = True)

print('#### after axis 0 drop ####')
print(titanic_df.head(3))

#### before axis 0 drop ####
   PassengerId  Survived  Pclass            Name     Sex   Age  SibSp  Parch          Ticket     Fare Cabin Embarked
0            1         0       3  Braund, Mr....    male  22.0      1      0       A/5 21171   7.2500   NaN        S
1            2         1       1  Cumings, Mr...  female  38.0      1      0        PC 17599  71.2833   C85        C
2            3         1       3  Heikkinen, ...  female  26.0      0      0  STON/O2. 31...   7.9250   NaN        S
#### after axis 0 drop ####
   PassengerId  Survived  Pclass            Name     Sex   Age  SibSp  Parch  Ticket     Fare Cabin Embarked
3            4         1       1  Futrelle, M...  female  35.0      1      0  113803  53.1000  C123        S
4            5         0       3  Allen, Mr. ...    male  35.0      0      0  373450   8.0500   NaN        S
5            6         0       3  Moran, Mr. ...    male   NaN      0      0  330877   8.4583   NaN        Q

**Index 객체**
Pandas의 index 객체: DataFrame, Series의 레코드를 고유하게 식별하는 객체

식별성 데이터를 1차원 array로 가지고 있음.

In [24]:
#원본 파일 다시 로딩
titanic_df = pd.read_csv(r'/content/train.csv')

#index 객체 추출
indexes = titanic_df.index
print(indexes)

#index 객체를 실제 값 array로 변환
print('Index 객체 array값:\n', indexes.values)

RangeIndex(start=0, stop=891, step=1)
Index 객체 array값:
 [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323
 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341
 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359
 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377
 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395
 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413
 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431
 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449
 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467
 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485
 486 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501 502 503
 504 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521
 522 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537 538 539
 540 541 542 543 544 545 546 547 548 549 550 551 552 553 554 555 556 557
 558 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573 574 575
 576 577 578 579 580 581 582 583 584 585 586 587 588 589 590 591 592 593
 594 595 596 597 598 599 600 601 602 603 604 605 606 607 608 609 610 611
 612 613 614 615 616 617 618 619 620 621 622 623 624 625 626 627 628 629
 630 631 632 633 634 635 636 637 638 639 640 641 642 643 644 645 646 647
 648 649 650 651 652 653 654 655 656 657 658 659 660 661 662 663 664 665
 666 667 668 669 670 671 672 673 674 675 676 677 678 679 680 681 682 683
 684 685 686 687 688 689 690 691 692 693 694 695 696 697 698 699 700 701
 702 703 704 705 706 707 708 709 710 711 712 713 714 715 716 717 718 719
 720 721 722 723 724 725 726 727 728 729 730 731 732 733 734 735 736 737
 738 739 740 741 742 743 744 745 746 747 748 749 750 751 752 753 754 755
 756 757 758 759 760 761 762 763 764 765 766 767 768 769 770 771 772 773
 774 775 776 777 778 779 780 781 782 783 784 785 786 787 788 789 790 791
 792 793 794 795 796 797 798 799 800 801 802 803 804 805 806 807 808 809
 810 811 812 813 814 815 816 817 818 819 820 821 822 823 824 825 826 827
 828 829 830 831 832 833 834 835 836 837 838 839 840 841 842 843 844 845
 846 847 848 849 850 851 852 853 854 855 856 857 858 859 860 861 862 863
 864 865 866 867 868 869 870 871 872 873 874 875 876 877 878 879 880 881
 882 883 884 885 886 887 888 889 890]

In [25]:
print(type(indexes.values))
print(indexes.values.shape)
print(indexes[:5].values)
print(indexes.values[:5])
print(indexes[6])

<class 'numpy.ndarray'>
(891,)
[0 1 2 3 4]
[0 1 2 3 4]
6

In [26]:
#한번 만들어진 DataFrame 및 Series의 Index 객체는 함부로 변경할 수 없음
indexes[0] = 5

TypeError: Index does not support mutable operations

In [27]:
#Series 객체는 Index 객체를 포함하지만 Series 객체에 연산함수 적용 시, Index는 연산에서 제외. Index는 오직 식별용
series_fair = titanic_df['Fare']
print('Fair Series max 값:', series_fair.max())
print('Fair Series sum 값:', series_fair.sum())
print('sum() Fair Series:', sum(series_fair))
print('Fair Series + 3:\n', (series_fair +3).head(3))

Fair Series max 값: 512.3292
Fair Series sum 값: 28693.9493
sum() Fair Series: 28693.9493
Fair Series + 3:
 0    10.2500
1    74.2833
2    10.9250
3    56.1000
4    11.0500
Name: Fare, dtype: float64

reset_index() 메서드 : 인덱스를 연속 숫자 형으로 할당

인덱스가 연속된 숫자형이 아닐 경우에 사용.

parameter 중 drop = True로 설정하면 기존 인덱스는 새로운 칼럼으로 추가X 삭제됨.

In [28]:
titanic_reset_df = titanic_df.reset_index(inplace = False)
titanic_reset_df.head(3)

   index  PassengerId  Survived  Pclass            Name     Sex   Age  SibSp  Parch          Ticket     Fare Cabin Embarked
0      0            1         0       3  Braund, Mr....    male  22.0      1      0       A/5 21171   7.2500   NaN        S
1      1            2         1       1  Cumings, Mr...  female  38.0      1      0        PC 17599  71.2833   C85        C
2      2            3         1       3  Heikkinen, ...  female  26.0      0      0  STON/O2. 31...   7.9250   NaN        S

In [29]:
print('### before reset_index ###')
value_counts = titanic_df['Pclass'].value_counts()
print(value_counts)
print('value_counts 객체 변수 타입:', type(value_counts))
new_value_counts = value_counts.reset_index(inplace = False)  #기존 인덱스는 index라는 칼럼명으로 추가됨
print('### After resest_index ###')
print(new_value_counts)
print('new_value_counts 객체 변수 타입:', type(new_value_counts))

### before reset_index ###
Pclass
3    491
1    216
2    184
Name: count, dtype: int64
value_counts 객체 변수 타입: <class 'pandas.core.series.Series'>
### After resest_index ###
   Pclass  count
0       3    491
1       1    216
2       2    184
new_value_counts 객체 변수 타입: <class 'pandas.core.frame.DataFrame'>

**데이터 셀렉션 및 필터링**

DataFrame의 []연산자


*   numpy에서의 []: 행의 위치, 열의 위치, 슬라이싱 범위 등
*   DataFrame에서의 []: []안에 칼럼명 문자 또는 칼럼명의 리스트 객체 또는 인덱스로 변환 가능한 표현식

In [30]:
#오류 확인
print('단일 칼럼 데이터 추출:\n', titanic_df['Pclass'].head(3))
print('\n여러 칼럼의 데이터 추출:\n', titanic_df[['Survived', 'Pclass']].head(3))
print('[] 안에 숫자 index는 KeyError 오류 발행:\n', titanic_df[0]) #숫자값 입력 시 오류

단일 칼럼 데이터 추출:
 0    3
1    1
2    3
Name: Pclass, dtype: int64

여러 칼럼의 데이터 추출:
    Survived  Pclass
0         0       3
1         1       1
2         1       3

KeyError: 0

In [31]:
#인덱스 형태로 변환 가능한 표현식은 []안에 입력 가능...하지만 추천하지는 않음
titanic_df[0:2]

   PassengerId  Survived  Pclass            Name     Sex   Age  SibSp  Parch     Ticket     Fare Cabin Embarked
0            1         0       3  Braund, Mr....    male  22.0      1      0  A/5 21171   7.2500   NaN        S
1            2         1       1  Cumings, Mr...  female  38.0      1      0   PC 17599  71.2833   C85        C

In [32]:
#boolean indexing 표현도 가능..
titanic_df[titanic_df['Pclass']==3].head(3)

   PassengerId  Survived  Pclass            Name     Sex   Age  SibSp  Parch          Ticket   Fare Cabin Embarked
0            1         0       3  Braund, Mr....    male  22.0      1      0       A/5 21171  7.250   NaN        S
2            3         1       3  Heikkinen, ...  female  26.0      0      0  STON/O2. 31...  7.925   NaN        S
4            5         0       3  Allen, Mr. ...    male  35.0      0      0          373450  8.050   NaN        S

**DataFrame iloc[] 연산자**

:DataFrame에서 데이터를 선택할 수 있는 인덱싱 방법=> iloc[], loc[]

*   iloc[] : 위치 기반 인덱싱 방식(행과 열.좌표 정숫값 or 정수형 슬라이싱 or 팬시 리스트 값)

*   iloc[]는 슬라이싱과 팬시 인덱싱 제공. but 불린 인덱싱 제공X => 명확한 위치 기반 필요

In [33]:
#data
data = {'Name': ['Chulmin', 'Eunkyung', 'Jinwoong', 'Soobeom'],
        'Year': [2011, 2016, 2015, 2015],
        'Gender': ['Male', 'Female', 'Male', 'Male']}
data_df = pd.DataFrame(data, index = ['one', 'two', 'three', 'four'])
data_df

           Name  Year  Gender
one     Chulmin  2011    Male
two    Eunkyung  2016  Female
three  Jinwoong  2015    Male
four    Soobeom  2015    Male

In [34]:
#iloc[]
data_df.iloc[0,0]

'Chulmin'

In [35]:
#아래 코드는 오류를 발생시킵니다.
data_df.iloc[0, 'Name']

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

In [36]:
#아래 코드는 오류를 발생시킵니다.
data_df.iloc['one', 0]

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

In [38]:
data_df.iloc[0:2, [0,1]]

         Name  Year
one   Chulmin  2011
two  Eunkyung  2016

In [39]:
data_df.iloc[0:2, 0:3]

         Name  Year  Gender
one   Chulmin  2011    Male
two  Eunkyung  2016  Female

In [40]:
data_df.iloc[:]

           Name  Year  Gender
one     Chulmin  2011    Male
two    Eunkyung  2016  Female
three  Jinwoong  2015    Male
four    Soobeom  2015    Male

In [41]:
data_df.iloc[:, :]

           Name  Year  Gender
one     Chulmin  2011    Male
two    Eunkyung  2016  Female
three  Jinwoong  2015    Male
four    Soobeom  2015    Male

In [42]:
print('\n 맨 마지막 칼럼 데이터 [:, -1]\n', data_df.iloc[:, -1])
print('\n 맨 마지막 칼럼을 제외한 모든 데이터 [:, :-1]\n', data_df.iloc[:, :-1])

 맨 마지막 칼럼 데이터 [:, -1]
 one        Male
two      Female
three      Male
four       Male
Name: Gender, dtype: object

 맨 마지막 칼럼을 제외한 모든 데이터 [:, :-1]
            Name  Year
one     Chulmin  2011
two    Eunkyung  2016
three  Jinwoong  2015
four    Soobeom  2015

**DataFrame loc[] 연산자**
*   loc[]: 명칭 기반 인덱싱 방식(인덱스 값:행 위치/칼럼의 명칭: 열 위치)
*   loc[인덱스값, 칼럼명]

In [43]:
#인덱스 값이 'one', 'two', 'three' .. 값임을 유의
data_df.loc['one', 'Name']

'Chulmin'

In [44]:
#data_df는 0을 인덱스 값으로 가지고 있지 않음. 무턱대로 index 값을 입력하면 안됨
#다음 코드는 오류 발생
data_df.loc[0, 'Name']

KeyError: 0

**loc[]에 슬라이싱 기호 적용 시, 시작~종료값(포함)**

In [45]:
print('위치 기반 iloc slicing\n', data_df.iloc[0:1, 0],'\n' )
print('명칭기반 loc slicing\n', data_df.loc['one':'two', 'Name'])

위치 기반 iloc slicing
 one    Chulmin
Name: Name, dtype: object

명칭기반 loc slicing
 one     Chulmin
two    Eunkyung
Name: Name, dtype: object

In [46]:
data_df.loc['one':'two', ['Name', 'Year']]

         Name  Year
one   Chulmin  2011
two  Eunkyung  2016

In [47]:
data_df.loc['one':'three', 'Name':'Gender']

           Name  Year  Gender
one     Chulmin  2011    Male
two    Eunkyung  2016  Female
three  Jinwoong  2015    Male

In [48]:
data_df.loc[:]

           Name  Year  Gender
one     Chulmin  2011    Male
two    Eunkyung  2016  Female
three  Jinwoong  2015    Male
four    Soobeom  2015    Male

In [49]:
#iloc[]와 다르게 loc[]는 불린 인덱싱이 가능
data_df.loc[data_df.Year >= 2014]

           Name  Year  Gender
two    Eunkyung  2016  Female
three  Jinwoong  2015    Male
four    Soobeom  2015    Male

**Boolean Indexing**

매우 편리한 데이터 필터링 방식. []와 loc[]에서 사용 가능

In [51]:
titanic_df = pd.read_csv('train.csv')
titanic_boolean = titanic_df[titanic_df['Age']>60]
print(type(titanic_boolean))
titanic_boolean

<class 'pandas.core.frame.DataFrame'>

     PassengerId  Survived  Pclass            Name     Sex   Age  SibSp  Parch       Ticket      Fare        Cabin Embarked
33            34         0       2  Wheadon, Mr...    male  66.0      0      0   C.A. 24579   10.5000          NaN        S
54            55         0       1  Ostby, Mr. ...    male  65.0      0      1       113509   61.9792          B30        C
96            97         0       1  Goldschmidt...    male  71.0      0      0     PC 17754   34.6542           A5        C
116          117         0       3  Connors, Mr...    male  70.5      0      0       370369    7.7500          NaN        Q
170          171         0       1  Van der hoe...    male  61.0      0      0       111240   33.5000          B19        S
252          253         0       1  Stead, Mr. ...    male  62.0      0      0       113514   26.5500          C87        S
275          276         1       1  Andrews, Mi...  female  63.0      1      0        13502   77.9583           D7        S
280          281         0       3  Duane, Mr. ...    male  65.0      0      0       336439    7.7500          NaN        Q
326          327         0       3  Nysveen, Mr...    male  61.0      0      0       345364    6.2375          NaN        S
438          439         0       1  Fortune, Mr...    male  64.0      1      4        19950  263.0000  C23 C25 C27        S
456          457         0       1  Millet, Mr....    male  65.0      0      0        13509   26.5500          E38        S
483          484         1       3  Turkula, Mr...  female  63.0      0      0         4134    9.5875          NaN        S
493          494         0       1  Artagaveyti...    male  71.0      0      0     PC 17609   49.5042          NaN        C
545          546         0       1  Nicholson, ...    male  64.0      0      0          693   26.0000          NaN        S
555          556         0       1  Wright, Mr....    male  62.0      0      0       113807   26.5500          NaN        S
570          571         1       2  Harris, Mr....    male  62.0      0      0  S.W./PP 752   10.5000          NaN        S
625          626         0       1  Sutton, Mr....    male  61.0      0      0        36963   32.3208          D50        S
630          631         1       1  Barkworth, ...    male  80.0      0      0        27042   30.0000          A23        S
672          673         0       2  Mitchell, M...    male  70.0      0      0   C.A. 24580   10.5000          NaN        S
745          746         0       1  Crosby, Cap...    male  70.0      1      1    WE/P 5735   71.0000          B22        S
829          830         1       1  Stone, Mrs....  female  62.0      0      0       113572   80.0000          B28      NaN
851          852         0       3  Svensson, M...    male  74.0      0      0       347060    7.7750          NaN        S

In [52]:
titanic_df[titanic_df['Age']>60][['Name', 'Age']].head(3)

              Name   Age
33  Wheadon, Mr...  66.0
54  Ostby, Mr. ...  65.0
96  Goldschmidt...  71.0

In [53]:
titanic_df.loc[titanic_df['Age']>60, ['Name', 'Age']].head(3)

              Name   Age
33  Wheadon, Mr...  66.0
54  Ostby, Mr. ...  65.0
96  Goldschmidt...  71.0

*복합 조건 연산자와 함께*
1. and => &
2. or => |
3. Not => ~

In [54]:
titanic_df[(titanic_df['Age']>60)&(titanic_df['Pclass']==1)&(titanic_df['Sex']=='female')]

     PassengerId  Survived  Pclass            Name     Sex   Age  SibSp  Parch  Ticket     Fare Cabin Embarked
275          276         1       1  Andrews, Mi...  female  63.0      1      0   13502  77.9583    D7        S
829          830         1       1  Stone, Mrs....  female  62.0      0      0  113572  80.0000   B28      NaN

In [55]:
cond1 = titanic_df['Age']>60
cond2 = titanic_df['Pclass'] ==1
cond3 = titanic_df['Sex'] == 'female'
titanic_df[cond1&cond2&cond3]

     PassengerId  Survived  Pclass            Name     Sex   Age  SibSp  Parch  Ticket     Fare Cabin Embarked
275          276         1       1  Andrews, Mi...  female  63.0      1      0   13502  77.9583    D7        S
829          830         1       1  Stone, Mrs....  female  62.0      0      0  113572  80.0000   B28      NaN

**정렬, Agregation 함수, GroupBy 적용**

**-DataFrame, Series의 정렬 - sort_values()**


*   DataFrame과 Series의 정렬을 위한 메서드: sort_values()
*   주요 parameter: by, ascending, inplace


주요 parameter

*   by - 특정 칼럼 지정 후 정렬
*   ascending - True로 설정하면 오름 차순 정렬
*   inplace- False로 지정하면 DataFrame 변형X. 정렬된 결과만 반환(default = False)

In [56]:
titanic_sorted = titanic_df.sort_values(by = ['Name'])
titanic_sorted.head(3)

     PassengerId  Survived  Pclass            Name     Sex   Age  SibSp  Parch     Ticket   Fare Cabin Embarked
845          846         0       3  Abbing, Mr....    male  42.0      0      0  C.A. 5547   7.55   NaN        S
746          747         0       3  Abbott, Mr....    male  16.0      1      1  C.A. 2673  20.25   NaN        S
279          280         1       3  Abbott, Mrs...  female  35.0      1      1  C.A. 2673  20.25   NaN        S

In [58]:
titanic_sorted = titanic_df.sort_values(by = ['Pclass', 'Name'], ascending = False)
titanic_sorted.head(3)

     PassengerId  Survived  Pclass            Name   Sex   Age  SibSp  Parch    Ticket  Fare Cabin Embarked
868          869         0       3  van Melkebe...  male   NaN      0      0    345777   9.5   NaN        S
153          154         0       3  van Billiar...  male  40.5      0      2  A/5. 851  14.5   NaN        S
282          283         0       3  de Pelsmaek...  male  16.0      0      0    345778   9.5   NaN        S

**Aggregation 함수 적용**

* min(), max(), sum(), count()
* 모든 칼럼에 해당 aggregation을 적용

In [59]:
titanic_df.count()

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

In [60]:
#특정 칼럼에 aggregation 함수 적용
titanic_df[['Age', 'Fare']].mean()

Age     29.699118
Fare    32.204208
dtype: float64

**groupby() 적용**

*   입력 parameter by에 칼럼 입력 시, 대상 칼럼으로  groupby됨
*   DataFrame에 groupby() 호출 시, DataFrameGroupBy라는 또 다른 형태의 DataFrame 반환
*   groupby() 대상 칼럼을 제외한 모든 칼럼에 호출 aggregation 함수를 적용

In [61]:
titanic_groupby = titanic_df.groupby(by = 'Pclass')
print(type(titanic_groupby))

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>

In [62]:
titanic_groupby = titanic_df.groupby('Pclass').count()
titanic_groupby

        PassengerId  Survived  Name  Sex  Age  SibSp  Parch  Ticket  Fare  Cabin  Embarked
Pclass
1               216       216   216  216  186    216    216     216   216    176       214
2               184       184   184  184  173    184    184     184   184     16       184
3               491       491   491  491  355    491    491     491   491     12       491

In [63]:
#groupby()한 후, 특정 칼러만 count()
titanic_groupby = titanic_df.groupby('Pclass')[['PassengerId', 'Survived']].count()
titanic_groupby

        PassengerId  Survived
Pclass
1               216       216
2               184       184
3               491       491

In [64]:
#여러개의 aggregation 함수를 입력할 수도 있음. agg()인자
titanic_df.groupby('Pclass')['Age'].agg([max,min])

/tmp/ipython-input-3340548317.py:2: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  titanic_df.groupby('Pclass')['Age'].agg([max,min])
/tmp/ipython-input-3340548317.py:2: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  titanic_df.groupby('Pclass')['Age'].agg([max,min])

         max   min
Pclass
1       80.0  0.92
2       70.0  0.67
3       74.0  0.42

In [65]:
agg_format = {'Age': 'max', 'SibSp':'sum', 'Fare':'mean'} #딕셔너리를 사용해서 각 aggregation 함수를 처리 가능
titanic_df.groupby('Pclass').agg(agg_format)

         Age  SibSp       Fare
Pclass
1       80.0     90  84.154687
2       70.0     74  20.662183
3       74.0    302  13.675550

**결손 데이터 처리하기**

결손데이터: 칼럼에 값이 없는 Null(NaN)

기본적으로 ML 알고리즘은 NaN 값 처리X


*  isna(): NaN 여부 확인하는 API
*  fillna(): NaN 값을 다른 값으로 대체하는 API

**isna()로 결손 데이터 여부 확인**

*   True = 1, False = 0

In [66]:
titanic_df.isna().head(3)

   PassengerId  Survived  Pclass   Name    Sex    Age  SibSp  Parch  Ticket   Fare  Cabin  Embarked
0        False     False   False  False  False  False  False  False   False  False   True     False
1        False     False   False  False  False  False  False  False   False  False  False     False
2        False     False   False  False  False  False  False  False   False  False   True     False

In [67]:
#결손 데이터의 개수 구하기
titanic_df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

**fillna()로 결손 데이터 대체하기**


*   inplace = True 나 반환 값을 다시 받아야만 값이 저장됨

In [68]:
titanic_df['Cabin'] = titanic_df['Cabin'].fillna('C000')
titanic_df.head(3)

   PassengerId  Survived  Pclass            Name     Sex   Age  SibSp  Parch          Ticket     Fare Cabin Embarked
0            1         0       3  Braund, Mr....    male  22.0      1      0       A/5 21171   7.2500  C000        S
1            2         1       1  Cumings, Mr...  female  38.0      1      0        PC 17599  71.2833   C85        C
2            3         1       3  Heikkinen, ...  female  26.0      0      0  STON/O2. 31...   7.9250  C000        S

In [69]:
titanic_df['Age'] = titanic_df['Age'].fillna(titanic_df['Age'].mean())
titanic_df['Embarked'] = titanic_df['Embarked'].fillna('S')
titanic_df.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

**apply lambda 식으로 데이터 가공**


*  속도 면에서 더 빠르거나 복잡한 데이터 가공 필요 시 apply lambda 사용

In [70]:
#lambda 함수 사용
def get_square(a):
  return a**2
print('3의 제곱은:', get_square(3))

3의 제곱은: 9

In [71]:
#위 함수를 lambda함수로 바로 변환
lambda_square = lambda x: x**2
print('3의 제곱은:', lambda_square(3))

3의 제곱은: 9

In [72]:
#여러 개의 인자값-map()함수 결합
a = [1,2,3]
squares = map(lambda x: x**2, a)
list(squares)

[1, 4, 9]

In [73]:
#apply lambda
titanic_df['Name_len'] = titanic_df['Name'].apply(lambda x: len(x))
titanic_df[['Name', 'Name_len']].head(3)

             Name  Name_len
0  Braund, Mr....        23
1  Cumings, Mr...        51
2  Heikkinen, ...        22

In [74]:
titanic_df['Child_Adult'] = titanic_df['Age'].apply(lambda x: 'Child' if x <=15 else 'Adult') #반환 값이 if else문보다 먼저 나옴
titanic_df[['Age', 'Child_Adult']].head(8)

         Age Child_Adult
0  22.000000       Adult
1  38.000000       Adult
2  26.000000       Adult
3  35.000000       Adult
4  35.000000       Adult
5  29.699118       Adult
6  54.000000       Adult
7   2.000000       Child

In [75]:
#else if는 적용X. 대신 else절을 내포해 if else 적용
titanic_df['Age_cat'] = titanic_df['Age'].apply(lambda x: 'Child' if x<=15 else('Adult' if x<=60 else 'Elderly'))
titanic_df['Age_cat'].value_counts()

Age_cat
Adult      786
Child       83
Elderly     22
Name: count, dtype: int64

In [76]:
#나이에 따라 세분화된 분류를 수행하는 함수 생성
def get_category(age):
  cat = ''
  if age <=5: cat = 'Baby'
  elif age <= 12: cat = 'Child'
  elif age <=18: cat = 'Teenager'
  elif age<=25 : cat = 'Student'
  elif age <=35: cat= 'Young Adult'
  elif age <=60: cat = 'Adult'
  else: cat = 'Elderly'

  return cat

#lambda 식에 위에서 생성한 get_category() 함수를 반환값으로 지정.
#get_catagory(X)는 입력값으로 'Age' 칼럼 값을 받아서 해당하는 cat 반환
titanic_df['Age_cat'] = titanic_df['Age'].apply(lambda x: get_category(x))
titanic_df[['Age', 'Age_cat']].head()

    Age      Age_cat
0  22.0      Student
1  38.0        Adult
2  26.0  Young Adult
3  35.0  Young Adult
4  35.0  Young Adult